.feeds-wrapper{
    width: 100%;
    float: left;
    padding: 16px;
    background: $white;
    height: 470px;
    .feed-head{
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .feed-head-left{
            display: flex;
            align-items: center;
            flex-direction: row;
            h5{
                margin-left: 5px;
                @include word(90%);
            }
        }
        .feed-head-right{
            color: $secondary-text;
            i{
                font-size: $font-m;
            }
        }
    }
    .feed-body{
        width: 100%;
        float: left;
        padding: 12px 0;
        height: calc(100% - 153px);
        overflow: hidden auto;
        h4{
            color: $black;
        }
        p{
            color: $secondary-text;
            white-space: pre-wrap;
            font-size: $font-s;
        }
    }
    .feed-footer{
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        border-top: 1px solid $border;
        .feed-footer-left{
            display: flex;
            align-items: center;
            flex-direction: row;
            .price{
                color: $secondary-text;
            }
            .price-sub{
                color: $secondary-text;
            }
        }
        .feed-footer-right{
            a{
                color: $secondary-text;
                margin-left: 20px;
            }
            .btn{
                color: $white !important;
            }
            color: $secondary-text;
            i{
                font-size: $font-l;
            }
        }
        &.top-feed-footer{
            border-top: 0px;
            padding-top: 0px;
            padding-bottom: 10px;
        }
    }
}

.feeds-no-options{
  .feeds-wrapper{
      .feed-body{
          height: calc(100% - 93px) !important;
      }
  }  
}

.more-info{
    width: 100%;
    float: left;
    padding: 16px;
    background: $white;
    .count{
        font-size: $font-price;
        color: $default;
        font-weight: $font-bold;
    }
}