.w3ls-subscribe .details{
    width: 100%;
}

.w3ls-subscribe .details .text-danger{
    float: right;
}

.flex-center{
    display: flex;
    align-items: center;
}

.serviceheader{
    margin-top: 0px !important;
}

.projectholder .followers{
    padding: 10px;
    margin: 0 !important;
}

.followtitle{
    min-height: 35px;
    margin-bottom: 15px !important;
}

.intrestarea{
    padding: 10px 0 !important;
}

.skillset{
    padding: 0 10px !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

.actions i{
    margin-left: 0px !important;
    padding: 0 5px;
}

.product-button {   
    float: right;
}

.forgetpassword{
   /* min-height: 100vh;*/
    background: #fff;
}

.post-request{
    width: 100%;
    float: left;
}

.post-request .post-title{
    color: #7E8EA4;
}

.post-request .m-10{
    margin-top: 10px;
}

.post-request label.title{
    color: #7E8EA4 !important; 
}

.detailstitle{
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}