<div class="modal-dialog" role="document">
   <div class="modal-content">
      <form class="form-horizontal" name="commisionForm" novalidate ng-submit="sendcommisionData();">
         <div class="titlecontainers">
            <div class="leftercontainer col-md-12 nopadding">
               <div class="request col-md-4">PROJECT DISCUSSIONS</div>
               <div class="col-md-4 padd"></div>
               <div class="padd col-md-4 text-right" ng-if="commisionData.profession"></div>
               <div class="float-rt chatimageholder"><img src="img/chat1.png"><img src="img/chat2.png"><img src="img/chat3.png"><img src="img/chat4.png"><span><i class="fa fa-plus" aria-hidden="true"></i></span></div>
            </div>
         </div>
         <div class="modal-body">
         <div class="col-md-12 chatmessagecontainer">
            <div ng-repeat="message in chatData"><p class="chatsender" ng-class="user.id == message.user_id ? 'left':'right'"><img src="img/chat1.png" ng-if="user.id != message.user_id">{{message.message}}</p></div>
           <!--  <div><p class="chatsender right">Hi, I should be able to take on the project. Let me know if you confirm</p></div> -->
    
            
         </div>
         <i class="fa fa-smile-o chatsmile" aria-hidden="true"></i>   <input type="text" name="chat" class="chater" placeholder="Write a reply" ng-model="chatMessage.message" my-enter="sendReplymessage()"><i class="fa fa-paper-plane chatsend" aria-hidden="true" ng-click="sendReplymessage()"></i>
         </div>        
   </div>
</div>