  <div class="clear"></div>
            <div class="bluebordercontainer" ng-if="currentdevice == 'mobile'"></div>
<div class="letterdetailscontainer">
   <div class="leftimage">
      <div class="col-lg-12 col-md-12 col-sm-12  dottedborder " ng-if="!notificationprojectData.member.status">
               NOTE: The is a <a>Tripartite Standard Agreement</a> form to protect both parties against any issues in the future. Read for more info<a> here</a>.
               <br><br>
               <div class="bottomnewtext">Read and agreed to the TSA Protection Scheme</div>
               <div class="pretty p-image p-plain floatleft ticker mobile-no-margin-right" >
                  <input type="checkbox" name="isaccept" ng-true-value="1" ng-false-value="0" ng-model="notificationprojectData.isaccept" tabindex="0" aria-checked="false" aria-invalid="false">
                  <div class="state">
                     <i class="fa fa-check" aria-hidden="true"></i>
                     <label>&nbsp;&nbsp;</label>
                  </div>
               </div>
               <div class="clear"></div>
            </div>

      <div class="col-lg-12 col-md-12 no-padding margintop10">
         <slick data="notificationprojectData.files" infinite="false" init-onload="true" settings="productslick" ng-if="!formLoading" class="slider-for">
            <div class="itemslider" ng-repeat="(key,image) in notificationprojectData.files">
               <div class="preview-img" background-image="{{IMGURL}}{{image.file}}" ng-if="image.filetype == 1"></div>
               <span class="preview-img" ng-if="image.filetype == 2">
                  <anguvideo ng-model="image.file" width="100%" height="auto" ng-if="image.file&&!image.file.includes('soundcloud')"></anguvideo>
                  <sound-cloud-player url="{{image.file}}" ng-if="image.file&&image.file.includes('soundcloud')"></sound-cloud-player>
               </span>
            </div>
         </slick>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12  no-padding">
         <div class="thumbslider">
            <slick data="notificationprojectData.files" infinite="false" init-onload="true" settings="mobilethumbslick" ng-if="!formLoading" class="slider-nav">
               <div class="thumbholder" ng-repeat="(key,image) in notificationprojectData.files">
                  <div class="slidee" background-image="{{image.filetype == 1 ? IMGURL : ''}}{{image.thumbnail}}"></div>
               </div>
            </slick>
         </div>
      </div>
   </div>
    <div class="bordercontainer" ng-if="currentdevice == 'mobile'"></div>
   <div class="rightimage">
      <div class="infodiv">
         <!-- info start -->
         <div class="common-itmes">
             <div class="col-lg-12 col-md-12 nopadding">
               <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 no-padding">
                  <div class="label-text marginbottom5">
                      Project Members
                     </div>
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-5 no-padding-left mobile-no-padding-left" ng-repeat="(no,member) in notificationprojectData.members"><img class="groupmembers" ng-src="{{IMGURL}}{{member.user.avatar}}" tooltip="{{member.user.username}}" tooltip-trigger="mouseenter"></div></div>
               </div>
                  <div  class="col-md-4 col-lg-4 col-sm-4 col-xs-4 no-padding">
                  <div class="float-rt mobile-text-center">
                  <div class="label-text marginbottom5 ">
                      Project Manager
                     </div>
                     <img class="groupmembers" ng-src="{{IMGURL}}{{notificationprojectData.owner.avatar}}" tooltip="{{notificationprojectData.owner.username}}" tooltip-trigger="mouseenter">
               </div>
            </div>
               </div>
            
            </div>
       
           <div class="clear"></div>
             <div class="bordercontainer" ng-if="currentdevice == 'mobile'"></div>
            <div class="col-lg-12 col-md-12 col-sm-12  no-padding margintop10">
               <div class=" detailstitle text-bold">{{notificationprojectData.title}}</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12  no-padding margintop10">
               <div class="details detailsdescription">{{notificationprojectData.description}}
               </div>
            </div>
            <!--     <div class="conta marginer">
               <div class="details detailslist" ng-if="!ResponseData.iscounter">
                  <ul>
                     <li ng-repeat="(key,feature) in notificationprojectData.features" ng-if="feature.feature"><i class="fa fa-check-circle"></i> {{feature.feature}}</li>
                  </ul>
               </div>
               </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12  no-padding margintop10">
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mobile-no-padding-left no-padding-left ">
                  <div class="pjs">
                     <div class="label-text marginbottom5">Deadline</div>
                     <div class="input-append date form_datetime relative">
                        <div class="datediv pjsbutton" >
                           <span class="add-onnew"><i class="fa fa-calendar"></i> {{notificationprojectData.deadline | date:"dd-MM-yyyy"}}</span>
                        </div>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mobile-no-padding-right no-padding-left ">
                  <div class="pjs">
                     <div class="label-text marginbottom5">Location</div>
                     <div class="input-append date form_datetime relative">
                        <div class="datediv pjsbutton" >
                           <span class="add-onnew"><i class="fa fa-map-marker "></i> {{notificationprojectData.location}}</span>
                        </div>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
            </div>
               <div class="col-lg-12 col-md-12 col-sm-12  no-padding margintop10">
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mobile-no-padding-left no-padding-left mmargintop10"  ng-if="notificationprojectData.member.price">
                  <div class="produects">
                     <div class="label-text marginbottom5">Allocated Amount</div>
                     <div class="price-box">
                        <span class="per_price">{{notificationprojectData.totalcost | currency}}</span>
                     </div>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
            <div class="clear"></div>
            <div class="bluebordercontainer" ng-if="currentdevice == 'mobile'"></div>
         </div>
      </div>
   </div>
</div>