<!-- <div class="modal-overlay"> -->
    <div class="signin-modal">
        <div class="login-modal" ng-if="currentauth == 'login'">
                    <h1>Sign In</h1>
                    <form name="loginForm" novalidate ng-submit="login(loginForm)">
                        <div class="form-group">
                            <label class="control-label">E-mail address</label>
                            <input type="email" name="email" class="form-control" placeholder="email@address.com" ng-model="userData.email" required>
                            <span ng-if="loginerrors.message" class="error error-text">{{loginerrors.message[0]}}</span>
                            <span ng-messages="loginForm.email.$error" role="alert">
                                <span class="error error-text" ng-message="required">Email Required</span>
                                <span class="error error-text" ng-message="email">Not valid email.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="password" required ng-model="userData.password" minlength="8"/>
                            <span class="eye-icon" ng-click="">
                                <i class="fa fa-eye"></i>
                            </span>
                            <span ng-messages="loginForm.password.$error" role="alert">
                              <span class="error error-text" ng-message="required">Password Required</span>
                              <span class="error error-text" ng-message="minlength">Atleast 8 characters long.</span>
                            </span>
                        </div>
                        <div class="form-group flex-center-space mt-15">
                            <input class="magic-checkbox" type="checkbox" id="remember" value="option"  ng-model="userData.rememberme" name="remember_me" ng-true-value="1" ng-false-value="0" />
                            <label class="text" for="remember">Remember Me</label>
                            <a class="forgot-password right" href="#">Forgot Password?</a>
                        </div>
                        <div class="form-group mt-15">
                            <button type="submit" ng-disabled="loading||!loginForm.$valid" class="btn success-btn block-btn"> Sign in <i class="fa fa-spinner fa-pulse fa-fw" ng-if="loginloading"></i></button>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn blue-btn block-btn" value="Sign in with Facebook" />
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn danger-btn block-btn" value="Sign in width Google" />
                        </div>
                        <div class="form-group mt-15">
                            <input type="button" class="btn silver-btn block-btn" value="Create an Account" ng-click="changeauthTab('signup')"/>
                        </div>
                        <p class="text-center">Create an account if you do not have an account yet</p>
                    </form>
        </div>
        <div class="login-modal" ng-if="currentauth == 'signup'">
                    <h1>Create Your Account</h1>
                    <form>
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <input type="text" class="form-control" placeholder="username" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">E-mail address</label>
                            <input type="text" class="form-control" placeholder="email@address.com" />
                            <span class="error error-text">Invalid format</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input type="password" class="form-control" placeholder="password" />
                            <span class="eye-icon">
                                <i class="fa fa-eye"></i>
                            </span>
                            <span class="error error-text">Invalid format</span>
                        </div>
                        <div class="form-group custom-dropdown">
                            <label class="control-label">Who you are?</label>
                            <div class="custom-arrow">
                                <select class="select-form-control">
                                    <option value="option">Individual</option>
                                    <option value="option">Company</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mt-15">
                            <input type="button" disabled class="btn success-btn block-btn" value="Proceed" />
                        </div>
                        <p class="text-center">Create an account to buy and sell in our community! If you already have an account <a ng-click="changeauthTab('login')">Login in here</a></p>
                    </form>
                </div>
    </div>
<!-- </div> -->
