<!-- <div class="modal-overlay"> -->
<div class="signin-modal">
    <div class="login-modal" ng-if="currentauth == 'login'">
        <h1>Sign In</h1>
        <form name="loginForm" novalidate ng-submit="login(loginForm)">
            <div class="form-group">
                <label class="control-label">E-mail address</label>
                <input type="email" name="email" class="form-control" placeholder="email@address.com" ng-model="userData.email" required>
                <span ng-if="loginerrors.message" class="error error-text">{{loginerrors.message[0]}}</span>
                <span ng-messages="loginForm.email.$error" role="alert">
                    <span class="error error-text" ng-message="required">Email Required</span>
                    <span class="error error-text" ng-message="email">Not valid email.</span>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="{{pwtype}}" name="password" class="form-control" placeholder="password" required ng-model="userData.password" minlength="8" />
                <span class="eye-icon" ng-click="showhidepassword()">
                    <i class="fa" ng-class="pwtype == 'password' ? 'fa-eye':'fa-eye-slash'"></i>
                </span>
                <span ng-messages="loginForm.password.$error" role="alert">
                    <span class="error error-text" ng-message="required">Password Required</span>
                <span class="error error-text" ng-message="minlength">Atleast 8 characters long.</span>
                </span>
            </div>
            <div class="form-group flex-center-space mt-15">
                <input class="magic-checkbox" type="checkbox" id="remember" ng-model="userData.rememberme" name="remember_me" ng-true-value="1" ng-false-value="0" />
                <label class="text" for="remember">Remember Me</label>
                <a class="forgot-password right" ng-click="changeauthTab('forgotpw')">Forgot Password?</a>
            </div>
            <div class="form-group mt-15">
                <button type="submit" ng-disabled="loginLoading||authloading||!loginForm.$valid" class="btn success-btn block-btn"> Sign in <i class="fa fa-spinner fa-pulse fa-fw" ng-if="loginLoading"></i></button>
            </div>
            <div class="form-group">
                <button type="button" class="btn blue-btn block-btn" ng-disabled="facebookloading||authloading" ng-click="facebooklogin();">Sign in with Facebook <i class="fa fa-spinner fa-pulse fa-fw" ng-if="facebookloading"></i></button>
            </div>
            <div class="form-group">
                <button type="button" class="btn danger-btn block-btn" ng-disabled="googleloading||authloading" ng-click="googleLogin();">Sign in with Google <i class="fa fa-spinner fa-pulse fa-fw" ng-if="googleloading"></i></button>
            </div>
            <div class="form-group mt-15">
                <button type="button" class="btn silver-btn block-btn" ng-disabled="authloading" ng-click="changeauthTab('signup')">Create an Account</button>
            </div>
            <p class="text-center">Create an account if you do not have an account yet</p>
        </form>
    </div>
    <div class="login-modal" ng-if="currentauth == 'signup'">
        <h1>Create Your Account</h1>
        <form name="registerForm" novalidate ng-submit="register(registerForm)">
            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" class="form-control" name="username" placeholder="UserName" ng-model="registerModel.username" minlength="4" required/>
                <span ng-messages="registerForm.username.$error" role="alert">
                    <span class="error error-text" ng-message="required">Username Required</span>
                    <span class="error error-text" ng-message="minlength">Atleast 4 characters long.</span>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">E-mail address</label>
                <input type="email" class="form-control" placeholder="email@address.com" name="email" ng-model="registerModel.email" required/>
                <span ng-if="registererrors.email" class="error error-text">{{registererrors.email[0]}}</span>
                <span ng-messages="registerForm.email.$error" role="alert">
                    <span class="error error-text" ng-message="required">Email Required</span>
                    <span class="error error-text" ng-message="email">Not valid email.</span>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="{{pwtype}}" name="password" class="form-control" placeholder="Password" required ng-model="registerModel.password" minlength="8"/>
                <span class="eye-icon" ng-click="showhidepassword()">
                    <i class="fa" ng-class="pwtype == 'password' ? 'fa-eye':'fa-eye-slash'"></i>
                </span>
                <span ng-messages="registerForm.password.$error" role="alert">
                    <span class="error error-text" ng-message="required">Password Required</span>
                    <span class="error error-text" ng-message="minlength">Atleast 8 characters long.</span>
                </span>
            </div>
            <!-- <div class="form-group custom-dropdown">
                <label class="control-label">Who you are?</label>
                <div class="custom-arrow">
                    <select class="select-form-control">
                        <option value="option">Individual</option>
                        <option value="option">Company</option>
                    </select>
                </div>
            </div> -->
            <div class="form-group mt-15">
                <button type="submit" class="btn success-btn block-btn" ng-disabled="registerloading||authloading||!registerForm.$valid">Proceed <i class="fa fa-spinner fa-pulse fa-fw" ng-if="registerloading"></i></button>
            </div>
            <p class="text-center">Create an account to buy and sell in our community! If you already have an account <a ng-click="changeauthTab('login')">Login in here</a></p>
        </form>
    </div>
    <div class="login-modal" ng-if="currentauth == 'forgotpw'">
        <h1>Forgot Password</h1>
        <form name="forgotForm" novalidate ng-submit="forgotpassword(forgotForm)">
            <div class="form-group" ng-if="(forgotForm.$valid)&&(forgoterrors.errormsg || forgoterrors.successmsg)">
                <label class="control-label">&nbsp;</label>
                <span ng-if="forgoterrors.errormsg && forgotForm.email.$error" class="error error-text">{{forgoterrors.errormsg}}</span>
                <span ng-if="forgoterrors.successmsg && forgotForm.email.$error" class="error success-text">{{forgoterrors.successmsg}}</span>
            </div>
            <div class="form-group">
                <label class="control-label">E-mail address</label>
                <input type="email" name="email" class="form-control" placeholder="email@address.com" ng-model="forgotModel.email" required/>
                <span ng-messages="forgotForm.email.$error" role="alert">
                    <span class="error error-text" ng-message="required">Email Required</span>
                    <span class="error error-text" ng-message="email">Not valid email.</span> 
                </span>
            </div>
            <div class="form-group mt-15">
                <button type="submit" ng-disabled="forgotLoading||!forgotForm.$valid" class="btn success-btn block-btn"> Proceed <i class="fa fa-spinner fa-pulse fa-fw" ng-if="forgotLoading"></i></button>
            </div>
            <div class="form-group">
                <input type="button" class="btn silver-btn block-btn" value="Create an Account" ng-click="changeauthTab('signup')"/>
            </div>
            <div class="form-group">
                <input type="button" class="btn silver-btn block-btn" value="Go to Sign in" ng-click="changeauthTab('login')"/>
            </div>
        </form>
    </div>
</div>

<!-- </div> -->