<div class="custom-modal">
   <div class="custom-slider">
      <slick data="popOverData.images" infinite="false" init-onload="true" settings="popOverCarousel" class="slider-for">
         <div class="imgcontainer" ng-repeat="(key,image) in popOverData.images" background-image="{{image.filetype == 1 ? ( IMGURL + image.file) : ''}}">
            <span ng-if="image.filetype == 2">
               <anguvideo ng-model="image.file" width="100%" height="auto" ng-if="image.file&&!image.file.includes('soundcloud')"></anguvideo>
               <sound-cloud-player url="{{image.file}}" class="m-t-sm" ng-if="image.file&&image.file.includes('soundcloud')"></sound-cloud-player>
            </span>
         </div>
      </slick>
      <div class="thumbslider">
         <slick data="popOverData.images" infinite="false" init-onload="true" settings="popOverThumbCarousel" ng-if="!formLoading" class="slider-nav">
            <div class="thumbholder" ng-repeat="(key,image) in popOverData.images" >
               <div class="slidee" background-image="{{image.filetype == 1 ? IMGURL : ''}}{{image.thumbnail}}"></div>
            </div>
         </slick>
      </div>
   </div>
   <div class="search-list-modal">
      <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
               <h3>{{popOverData.title}} </h3>
               <div class="description">{{popOverData.description | cut:true:100:''}}</div>               
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-lg-offset-1 col-md-offset-1">
               <div class="col-md-6 col-sm-6 col-lg-6 mt-10 text-center br-1">
                  <div class="label-count">Completed
                     Projects
                  </div>
                  <div class="contentr">0</div>
               </div>
               <div class="col-md-6 col-sm-6 col-lg-6 mt-10 text-center">
                  <div class="label-rank">Rank
                     Apprentice
                  </div>
                  <div class="contentr"><img ng-src="{{ IMGURL + popOverData.owner.xprank.icon }}" class="rank-icon"/></div>
               </div>               
            </div>
      </div>
      <div class="row mt-20">
         <div class="col-lg-7 col-md-7">
            <div class="price-box">
               <span class="price"><span ng-if="popOverData.price > 0">$</span>{{popOverData.price ? popOverData.price: 'Free'}}</span>
               <span class="price-sub" ng-if="popOverData.price > 0 && popOverData.type !='Shop' && popOverData.periodtype">Per {{popOverData.periodtype}}</span>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-lg-4 col-lg-offset-1 col-md-offset-1">
            <a class="btn success-btn block-btn" ng-click="logintoProduct(popOverData);">Login To View</a>
         </div>
      </div>
   </div>
</div>


