<link href="css/sharepopover.css" rel="stylesheet" type="text/css"/>
<div class="share_container">
   <div class="share_container_item">
   <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 nopadding">
     <a title="Facebook share" ng-click="fbshare()"> <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 text-social aligncenter"><i class="fa fa-facebook-square"></i>facebook</div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 nopadding aligncenter"><span class="points">25</span><span class="xp">XP</span></div></a>
   </div>
</div>

<div class="share_container_item">
   <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 nopadding">
     <a class="twitter customer share" ng-click="sharetwitter()"> <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 text-social aligncenter"><i class="fa fa-twitter-square"></i> twitter</div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 nopadding aligncenter"><span class="points">25</span><span class="xp">XP</span></div></a>
   </div>
</div>

<div class="share_container_item">
   <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 nopadding">
     <a class="google_plus customer share" ng-click="sharegoogle()"> <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 text-social aligncenter"><i class="fa fa-google-plus-square"></i> Google Plus</div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 nopadding aligncenter"><span class="points">25</span><span class="xp">XP</span></div></a>
   </div>
</div>


<div class="share_container_item">
   <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 nopadding">
     <a class="whatsapp customer share" ng-click="sharewhatsapp()"> <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 text-social aligncenter"><i class="fa fa-whatsapp"></i> Whatsapp</div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 nopadding aligncenter"><span class="points">25</span><span class="xp">XP</span></div></a>
   </div>
</div>
</div>
