<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card share-card" ng-click="fbshare()">
            <div class="card-left">
                <i class="fa fa-facebook-square facebook"></i>
                <h4>Facebook</h4>
            </div>
            <div class="card-right">
                <span>25</span> XP
            </div>
        </div>
        <div class="card share-card" ng-click="sharetwitter()">
            <div class="card-left">
                <i class="fa fa-twitter-square twitter"></i>
                <h4>Twitter</h4>
            </div>
            <div class="card-right">
                <span>25</span> XP
            </div>
        </div>
        <div class="card share-card" ng-click="sharewhatsapp()">
            <div class="card-left">
                <i class="fa fa-whatsapp whatsapp"></i>
                <h4>Whatsapp</h4>
            </div>
            <div class="card-right">
                <span>25</span> XP
            </div>
        </div>
    </div>
</div>