<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <title>Collabro</title>
</head>

<body>
    <header class="main-header hidden-print" id="">
        <nav class="navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

                <div class="row flex-center">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <a class="logo" href="#">
                            <img src="../assets/img/logo.png" />
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="search-top">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search keyword" />
                                <button type="button" class="btn transparent-btn"><i class="fa fa-search" ></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 text-right flex-center">
                        <a class="btn secondary-btn" href="#"><i class="fa fa-bolt mr-10"></i> BROADCAST</a>
                        <a class="btn white-btn ml-30" href="#">POST <i class="fa fa-plus-circle ml-10"></i></a>
                        <ul class="top-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle">
                                    <i class="fa fa-bell-o"></i>                                                
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle">
                                    <img src="../assets/img/message.png" />                      
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle">
                                    <i class="fa fa-calendar-check-o"></i>                                                
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 right">
                        <ul class="top-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="avatar avatar-s">
                                        <img src="../assets/img/user.gif" alt="user" />
                                    </div>
                                    <span class="username">Username <i class="fa fa-caret-down"></i></span>
                                </a>
    
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user" ></i><span>My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-sign-out" ></i> <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <!-- Page layout -->
    <div class="content-wrapper">
        <!-- left side bar -->
        <div class="left-sidebar">
            
            <div class="sidebar-card">
                <h6 class="label-xs">My Total Earning</h6>
                <span class="font-price">$80,800</span>
            </div>
            
            <label class="custom-toggle" for="switch-toggle">
                <i class="fa fa-power-off"></i>
                <div class="toggle-con">
                    <span></span>
                    <input
                    type="checkbox"
                    id="switch-toggle"
                    />
                    <span class="switch-tog"></span>
                    <span class="toggle-s"></span>
                </div>
            </label>

            <!-- Simple list -->
            <ul class="simple-list">
                <li><a href="#"><i class="fa fa-dashboard"></i> <span>MY DASHBOARD</span></a></li>
                <li><a href="#"><i class="fa fa-list-alt"></i> <span>MY WISHLIST</span></a></li>
                <li><a href="#"><i class="fa fa-briefcase"></i> <span>MY PROJECTS</span></a></li>
                <li><a href="#"><i class="fa fa-user-plus"></i> <span>MY FRIENDS</span></a></li>
                <li><a href="#"><i class="fa fa-list-ul"></i> <span>MY FEEDS</span></a></li>
                <li><a href="#"><i class="fa fa-lightbulb-o"></i> <span>HOW IT WORKS</span></a></li>
                <li><a href="#"><i class="fa fa-trophy"></i> <span>REWARDS & BENEFITS</span></a></li>
                <li><a href="#"><i class="fa fa-cogs"></i> <span>SETINGS</span></a></li>
            </ul>

        </div>

        <!-- App Content -->
        <div class="content">

        </div>

        <!-- Right side bar -->
        <div class="right-sidebar">

        </div>

    </div>

    <!-- Footer content -->
    <div class="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="../assets/img/logo.png" />
                        <p>Collabro is a decentralised platform for entrepreneurs to collaborate, engage, find resources and do business. Built with AI-powered tripartite collaboration system technology to connect business owners and end-users. This platform will benefit those who are seeking resources to hire, buy, sell or offer services.</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
                        <h5>Earn and Learn</h5>
                        <ul class="footer-list">
                            <li><a href="#">Open a shop</a></li>
                            <li><a href="#">Become a partner</a></li>
                            <li><a href="#">Affiliation program</a></li>
                            <li><a href="#">Bonus Credit</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>Resources</h5>
                        <ul class="footer-list">
                            <li><a href="#">Licenses and Legal</a></li>
                            <li><a href="#">Discussions and Forums</a></li>
                            <li><a href="#"> Collecons Centre</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Collaboraon Service</a></li>
                            <li><a href="#">Site Maps</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>The Company</h5>
                        <ul class="footer-list">
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">Terms and Condions</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Careers</a></li>                                
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        © 2018 Collabro. All Rights Reserved.
                    </div>
                    <div class="col-lg-4 col-md-4 right text-right follow">
                        Follow Us 
                        <i class="fa fa-camera"></i>
                        <i class="fa fa-facebook-square"></i> 
                        <i class="fa fa-send"></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>

</html>