<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <title>Collabro</title>
</head>

<body>

    <!-- Home header -->
    <header class="home-header">
        <nav class="navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <a class="logo" href="#">
                    <img src="../assets/img/home-logo.png" />
                </a>
                <div class="row flex-center">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="search-top">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search keyword" />
                                <button type="button" class="btn transparent-btn"><i class="fa fa-search" ></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-right flex-center-space-even">
                        <ul class="top-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Benefits</a></li>                    
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 flex-center-end">
                        <ul class="top-nav wd-auto">
                            <li><a class="btn btn-border-white" href="#">Signup</a></li>
                            <li><a class="btn btn-border-white" href="#">Login</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <!-- Banner  -->
    <div class="banner-section">
        <div class="banner">
            <img src="../assets/img/banner.png" />
            <div class="banner-content">
                <h1>Collabro is The Platform 
                    for Entrepeneur to Collaborate 
                    and Do Business
                    </h1>
                    <p>Complete with unlimited features & flexibility and unparalleted customer support </p>
                    <div class="form-group">
                        <input type="button" class="btn btn-border-white" value="Take a Tour" />
                        <input type="button" class="btn default-btn ml-30" value="Join the club" />
                    </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content-section mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="about-section">
                        <h2 class="font-home">About Us</h2>
                        <p>Collabro is a decentralised platform for entrepreneurs to collaborate, engage, find resources and do business. Built with AI-powered tripartite collaboration system technology to connect business owners and end-users. This platform will benefit those who are seeking resources to hire, buy, sell or offer services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content-section mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about-content editable">
                        <h3>Manage your Portfolio on Desktop and Mobile</h3>
                        <p>“Rinse the shrimp and pat them dry with paper towels. Arrange them in a single layer in a 13-by-9-inch (33-by-23-centimeter) baking dish.</p>
                        <span>Excerpt From: Williams, Nathan. “Kinfolk Table : Recipes for Small Gatherings
                                (9781579655877).” iBooks. </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about-content" style="background-image: url(../assets/img/about.png);">
                        <h3>Get Notification and 
                                Collaborate on the go</h3>
                            <p>“Rinse the shrimp and pat them dry with paper towels. Arrange them in a single layer in a 13-by-9-inch (33-by-23-centimeter) baking dish.</p>
                        <span>Excerpt From: Williams, Nathan. “Kinfolk Table : Recipes for Small Gatherings
                                (9781579655877).” iBooks. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content-section mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="feature-card" style="background-image: url(../assets/img/feature.png);">
                        <div class="icon-wrapper">
                            <div class="icon">
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                        <h3>Design and Creative Services Offer</h3>
                        <p>After stumbling into the brilliant Galaxy.fili.nl website, we thought we should invite Filidor Wiese.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="feature-card" style="background-image: url(../assets/img/feature.png);">
                        <div class="icon-wrapper">
                            <div class="icon">
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                        <h3>Design and Creative Services Offer</h3>
                        <p>After stumbling into the brilliant Galaxy.fili.nl website, we thought we should invite Filidor Wiese.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="feature-card" style="background-image: url(../assets/img/feature.png);">
                        <div class="icon-wrapper">
                            <div class="icon">
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>                        
                        <h3>Design and Creative Services Offer</h3>
                        <p>After stumbling into the brilliant Galaxy.fili.nl website, we thought we should invite Filidor Wiese.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="feature-card editable">
                        <div class="icon-wrapper">
                            <div class="icon">
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                        <h3>Design and Creative Services Offer</h3>
                        <p>After stumbling into the brilliant Galaxy.fili.nl website...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content-section more-feature mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h1>Discover more features</h1>
                    <p class="subtitle">Myriad of product and services</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="more-feature-card">
                        <div class="img-wrapper" style="background-image: url(../assets/img/benefit.png);"></div>
                        <div class="card-content">
                            <h3>Protect your products and services with our tripartite system</h3>
                            <p>Excerpt From: Williams, Nathan. “Kinfolk Table : Recipes for Small</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="more-feature-card">
                        <div class="img-wrapper" style="background-image: url(../assets/img/benefit.png);"></div>
                        <div class="card-content">
                            <h3>Protect your products and services with our tripartite system</h3>
                            <p>Excerpt From: Williams, Nathan. “Kinfolk Table : Recipes for Small</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="more-feature-card">
                        <div class="img-wrapper" style="background-image: url(../assets/img/benefit.png);"></div>
                        <div class="card-content">
                            <h3>Protect your products and services with our tripartite system</h3>
                            <p>Excerpt From: Williams, Nathan. “Kinfolk Table : Recipes for Small</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="more-feature-card editable">
                        <div class="img-wrapper"><h4>Removable image area</h4></div>
                        <div class="card-content">
                            <h3>Editable text</h3>
                            <p>Excerpt From: Williams, Nathan. “Kinfolk Table : Recipes for Small</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer content -->
    <div class="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="../assets/img/logo.png" />
                        <p>Collabro is a decentralised platform for entrepreneurs to collaborate, engage, find resources and do business. Built with AI-powered tripartite collaboration system technology to connect business owners and end-users. This platform will benefit those who are seeking resources to hire, buy, sell or offer services.</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
                        <h5>Earn and Learn</h5>
                        <ul class="footer-list">
                            <li><a href="#">Open a shop</a></li>
                            <li><a href="#">Become a partner</a></li>
                            <li><a href="#">Affiliation program</a></li>
                            <li><a href="#">Bonus Credit</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>Resources</h5>
                        <ul class="footer-list">
                            <li><a href="#">Licenses and Legal</a></li>
                            <li><a href="#">Discussions and Forums</a></li>
                            <li><a href="#"> Collecons Centre</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Collaboraon Service</a></li>
                            <li><a href="#">Site Maps</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>The Company</h5>
                        <ul class="footer-list">
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">Terms and Condions</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Careers</a></li>                                
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        © 2018 Collabro. All Rights Reserved.
                    </div>
                    <div class="col-lg-4 col-md-4 right text-right follow">
                        Follow Us 
                        <i class="fa fa-camera"></i>
                        <i class="fa fa-facebook-square"></i> 
                        <i class="fa fa-send"></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>