<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <title>Collabro</title>
</head>

<body>

    <!-- Home header -->
    <header class="home-header">
        <nav class="navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <a class="logo" href="#">
                    <img src="../assets/img/home-logo.png" />
                </a>
                <div class="row flex-center">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="search-top">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search keyword" />
                                <button type="button" class="btn transparent-btn"><i class="fa fa-search" ></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-right flex-center-space-even">
                        <ul class="top-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Benefits</a></li>                    
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 flex-center-end">
                        <ul class="top-nav wd-auto">
                            <li><a class="btn btn-border-white" href="#">Signup</a></li>
                            <li><a class="btn btn-border-white" href="#">Login</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <!-- Info page -->
    <div class="info-section">
        <div class="info-left">
            <h1>How can we help you?</h1>
            <div class="left-list">
                <h3>Earn and Learn</h3>
                <ul>
                    <li><a>Open a Shop</a></li>
                    <li><a>Become a Partner</a></li>
                    <li><a>Affililation Program</a></li>
                    <li><a>Bonus Credit</a></li>
                </ul>
            </div>
            <div class="left-list">
                <h3>Resources</h3>
                <ul>
                    <li><a>Licenses and Legal</a></li>
                    <li><a>Discussions and Forums</a></li>
                    <li><a>Collections Centre</a></li>
                    <li><a>Help Center</a></li>
                    <li><a>Collaboration Service</a></li>
                    <li><a>Site Maps</a></li>
                </ul>
            </div>
            <div class="left-list">
                <h3>The Company</h3>
                <ul>
                    <li><a>Brand</a></li>
                    <li><a>Terms and Conditions</a></li>
                    <li><a>Cookie Policy</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>Careers</a></li>                            
                </ul>
            </div>
        </div>
        <!-- Center content Start -->
        <div class="info-right">
            <div class="inner-title"><h1>Tripartite Agreement Template</h1></div>
            <div class="special-content">
                <h3><i class="fa fa-info-circle"></i> What is a tripartite agreement?</h3>
                <p>A tripartite agreement is, in essence, merely a document specifying the details of an agreement between three separate parties, for example in a transaction between two parties where a bank is acting as a guarantor for one of the parties.</p>
            </div>
            <div class="info-content">
                <div class="right-list-content">
                    <p>THIS AGREEMENT (this “Tripartite Agreement”) is effective starting on [DATE], and is between [CUSTOMER NAME] (hereinafter called the “Customer”); [CONTRACTOR NAME] (hereinafter called the “Contractor”); and [BANK NAME] (hereinafter called the “Bank”).</p>
                </div>
                <div class="right-list-content">
                    <h2>RECITALS</h2>
                    <p>The Customer and the Contractor are parties to the contract entered into as of [DATE], including any amendments thereto, individually and collectively referred to herein as the “Agreements,” which provide for the advance of funds pursuant to the letter of credit (the “Letter of Credit”).</p>                        
                    <p>The Agreements require that funds withdrawn shall be used solely for the funding of [DESCRIPTION].  Such funds must be deposited in an account separate from the Contractor’s general or other funds, with a bank that meets the requirements set forth in the Agreements; and, the Bank meeting the requirements, the parties are agreeable to depositing such amounts in an account (the “Account”) with the Bank.</p>
                </div>
                <div class="right-list-content">
                    <h2>COVENANTS</h2>
                    <p>In consideration of the foregoing, and for other good and valuable consideration, it is agreed that:</p>                        
                    <ol class="right-list">
                        <li>CUSTOMER shall have a lien upon the credit balances in the ACCOUNT to secure the repayment of all funds in the ACCOUNT, which lien shall be superior to any lien or claim of the Bank or Contractor with respect to such account.</li>
                        <li>The Bank shall not be responsible for (a) the application of funds withdrawn from the ACCOUNT, or (b) determining whether 			
                                any person is entitled to receive funds ordered or directed to be paid by the Contractor.  Provided that the Bank exercises 
                                ordinary care, after receipt by the Bank of written directions from the duly authorized representative of CUSTOMER or the 	
                                Contractor, the Bank shall act thereon and shall be under no liability to any party hereto or any third party for any 
                                action taken or not taken in accordance with such written directions, including without limitation any directions in the form of electronic transmission, file, mail or other 
                                electronic instruction or transaction, including automated clearing house entry, or for the breach of any warranty or representation by CUSTOMER or the Contractor, as 
                                the case may be.  Any such written directions or instructions received by the Bank from or at the direction of the Director, Division of Financial Strategies and 
                                Evaluation, CUSTOMER, or from the duly authorized representative of same may, in so far as the rights, duties and liabilities of the Bank are concerned, be considered 
                                as having been properly issued and filed with the Bank by CUSTOMER.</li>
                    </ol>
                    <div class="special-content">
                        <h3><i class="fa fa-info-circle"></i> What is a tripartite agreement?</h3>
                        <p>Quite simply, a tripartite agreement is an agreement between three parties. You could have a tripartite non-disclosure agreement, a tripartite non-compete agreement – you name it. That said, tripartite agreements surface most often when banks are a party to a transaction. For that reason, we have taken some liberty and created a template for that kind of tripartite agreement here. In this tripartite agreement, the bank is acting as a guarantor for the Contractor and is taking on some obligations with respect to the transaction between the Contractor and the Customer. We have no doubt that this tripartite agreement will need some further customization for your specific purpose, as there are endless possibilities. Take care to enlist the support of your legal counsel.</p>
                    </div>
                    <ol class="right-list">
                        <li>CUSTOMER or its authorized representatives may request copies of the establishment and maintenance of, and transactions in 		the ACCOUNT at CUSTOMER’s expense.  Such copies shall be available within a reasonable time. Such records shall be 
                        preserved by the Bank for a period of six (6) years following the close of the calendar year in which the records were created 
                        unless prior to that time, the Bank has been notified in writing by CUSTOMER that preservation of such records for a longer 				
                        period of time is necessary for purposes of litigation or dispute.</li>

                        <li>In the event of the service of any writ of attachment, levy of execution, or commencement of garnishment proceedings with 
                        respect to the ACCOUNT, the Bank will promptly notify CUSTOMER.</li>

                        <li>CUSTOMER will arrange for a Letter of Credit (irrevocable to the extent obligations arise when the Bank has acted in 
                        accordance with instructions of the Contractor) to the Bank, for the benefit of the ACCOUNT.  CUSTOMER authorizes the 
                        Bank to issue a 1031 draw-down request (the “Draw-down”) against the Letter of Credit in accordance with the Draw-down 
                        instructions agreed to by the parties (the “Draw-down Instructions”), to the appropriate Federal Reserve Bank. The Draw-
                        downs shall be limited to the amount of (a) checks and other items, including electronic funds transfer (EFT) items issued by or 
                        in the name of the Contractor, presented for payment each day or projected to be presented for payment each day 
                        (individually, “Item” and collectively, the “Items”); (b) any withdrawals or debits to the ACCOUNT in 
                        accordance with ordinary procedures for processing any Items, including, without limitation, any adjustments and charge backs 
                        in connection with any Items (the “Adjustments”), and (c) prior overdrafts, if any, less other collected deposits.  In conjunction 
                        with any transfers of funds, the parties agree to be bound by the then current Operating Rules and Guidelines of the National 
                        Automated Clearinghouse Association (the “NACHA Rules”), except that with respect to the Government, as such NACHA 
                        Rules are modified by Department of the Treasury Regulations.  Notwithstanding anything to the contrary herein, the Bank 
                        shall be under no obligation to follow the instructions or directions of CUSTOMER or the Contractor to reverse any entries or 
                        Items unless such reversal is in accordance with the NACHA Rules or Department of Treasury Regulations.  The Bank agrees to 
                        service the ACCOUNT in the manner set forth herein and based on the specifications and pricing schedules 
                        contained in the addenda hereto.

                        The Bank and the Contractor each agree to exercise good faith to keep all withdrawals restricted so as not to cause the Letter 
                        of Credit total monthly authorization to be exceeded. In the event Items or other withdrawals presented or projected to be 
                        presented against the ACCOUNT exceed the Letter of Credit total monthly authorization, the Bank will use commercially 
                        reasonable efforts to notify CUSTOMER before [TIME] [TIME ZONE], and CUSTOMER shall, within 48 hours from the 
                        time of the request, increase the Letter of Credit total monthly authorization, as necessary, to cover the excess amount.  In the 
                        event that CUSTOMER fails to timely respond and the Bank processes Items exceeding the amount of the Letter of Credit, the 
                        Bank may include on its monthly fee schedule any related fees and charges, plus interest, if applicable.   As used herein, 
                        banking day means that part of any business day on which an office of the Bank is open to the public for carrying on 
                        substantially all of its banking functions.

                        The Contractor and the Bank agree to notify each other within [NUMBER] days after learning of the occurrence of any actions
                        or omissions of which the party becomes aware that may be in violation of the Tripartite Agreement or which may be 
                        otherwise fraudulent or unauthorized.

                        The Bank, Contractor and CUSTOMER agree that no person other than the parties to the Agreements are intended to be the 
                        beneficiaries of the Tripartite Agreement or the Agreements nor shall any other person have rights arising under same.</li>

                        <li>This Tripartite Agreement, with all its Provisions and covenants, shall be in effect for a term of [NUMBER] years beginning on 
                        [DATE] and ending on [DATE].</li>

                        <li>Without cause, the Contractor or the Bank may terminate this Tripartite Agreement on the annual anniversary of the effective 
                        date of the Tripartite Agreement by providing written notification of termination to the other two (2) parties at least 
                        [NUMBER] days prior to the expiration of the then current year term of this Tripartite Agreement.</li>

                        <li>The Contractor may terminate this Tripartite Agreement at any time with a minimum of [NUMBER] days notice to the Bank if 
                        the Contractor finds that the Bank has failed to substantially perform its obligations under this Tripartite Agreement or that the 
                        Bank is performing its obligations in a manner that precludes the Contractor from administering the applicable program in an 
                        effective and efficient manner.  CUSTOMER may terminate this Tripartite Agreement at any time by providing written 
                        notice to the other two (2) parties.</li>

                        <li>Notwithstanding Covenants 6, 7 and 8, in the event the Agreements are not renewed or are terminated, this Tripartite 
                        Agreement among CUSTOMER, the Contractor, and the Bank will automatically be terminated upon the delivery of written 
                        notice to the Bank.  This Tripartite agreement will terminate automatically at the conclusion of the term listed in (6), above.</li>

                        <li>The Bank agrees that it shall not enter into any agreement with any other party to carry out the primary responsibilities of this Tripartite Agreement without the prior 		
                        written approval of CUSTOMER.</li>

                        <li>The Bank, the Contractor, and CUSTOMER agree to comply with the provisions set forth in any attachments or addenda to this Tripartite Agreement, which are 
                        attached hereto and incorporated herein.</li>

                        <li>The Bank, the Contractor, and CUSTOMER agree that, in the event of any conflict of terms, this Tripartite Agreement supersedes the Bank’s Service Terms for any and 
                        all accounts and services that are covered by this Tripartite Agreement.

                        IN WITNESS WHEREOF, the parties hereto have caused this Agreement, including the signature pages, to be executed as of the day and year first above written.</li>
                    </ol>
                </div>
                <div class="right-form">
                    <h3>[CUSTOMER NAME]</h3>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group custom-dropdown">
                                <div class="custom-arrow">
                                    <select class="select-form-control">
                                        <option value="option">Select option</option>
                                        <option value="option">Select option</option>
                                        <option value="option">Select option</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Customer name" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="18 - 09 - 19" />
                            </div>
                        </div>
                    </div>

                    <h3 class="mt-30">[CONTRACTOR NAME]</h3>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group custom-dropdown">
                                <div class="custom-arrow">
                                    <select class="select-form-control">
                                        <option value="option">Select option</option>
                                        <option value="option">Select option</option>
                                        <option value="option">Select option</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Customer name" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="18 - 09 - 19" />
                            </div>
                        </div>
                    </div>

                    <div class="row mt-20">
                        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                            <h3>[E-WALLET/BANK]</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="$34" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <a class="btn silver-btn block-btn" href="#"><i class="fa fa-cloud-upload mr-10"></i> Upload Files</a>
                                    </div>
                                </div>
                            </div>  
                            <div class="row mt-20">
                                <div class="col-lg-12 col-md-12">  <input type="button" class="btn success-btn block-btn" value="Agree" />  </div>
                            </div>                      
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Center content End -->
    </div>

    <!-- Footer content -->
    <div class="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="../assets/img/logo.png" />
                        <p>Collabro is a decentralised platform for entrepreneurs to collaborate, engage, find resources and do business. Built with AI-powered tripartite collaboration system technology to connect business owners and end-users. This platform will benefit those who are seeking resources to hire, buy, sell or offer services.</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
                        <h5>Earn and Learn</h5>
                        <ul class="footer-list">
                            <li><a href="#">Open a shop</a></li>
                            <li><a href="#">Become a partner</a></li>
                            <li><a href="#">Affiliation program</a></li>
                            <li><a href="#">Bonus Credit</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>Resources</h5>
                        <ul class="footer-list">
                            <li><a href="#">Licenses and Legal</a></li>
                            <li><a href="#">Discussions and Forums</a></li>
                            <li><a href="#"> Collecons Centre</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Collaboraon Service</a></li>
                            <li><a href="#">Site Maps</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <h5>The Company</h5>
                        <ul class="footer-list">
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">Terms and Condions</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Careers</a></li>                                
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        © 2018 Collabro. All Rights Reserved.
                    </div>
                    <div class="col-lg-4 col-md-4 right text-right follow">
                        Follow Us 
                        <i class="fa fa-camera"></i>
                        <i class="fa fa-facebook-square"></i> 
                        <i class="fa fa-send"></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>