.footer{
    width: 100%;
    float: left;
    color: $white;
    .footer-top{
        width: 100%;
        float: left;
        padding: 50px 7px;
        background: $secondary-color;
        img{
            max-height: 40px;
            margin-bottom: 30px;
        }
        h5{
            color: $default;
            margin-bottom: 20px;
        }
        .footer-list{
            width: 100%;
            float: left;
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
                width: 100%;
                float: left;
                margin-bottom: 5px;
                a{
                    width: 100%;
                    float: left;
                    color: $white;
                }
            }
        }
    }
    .footer-bottom{
        width: 100%;
        float: left;
        padding: 20px 7px;
        background: $default;
        .follow{
            i{
                margin-left: 15px;
                font-size: $font-l;
            }
        }
    }
}