.modal-wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 1180px;
}

.custom-modal{
    width: 100%;
    float: left;
    background: $white;
    @include border-radius(5px);
    border: 1px solid $border;
    padding: 25px;
    .custom-modal-title{
        width: 100%;
        float: left;
        padding: 13px 15px;
        margin-bottom: 30px;
        &.modal-default{
            background: $modal-gray;
        }
        &.modal-orange{
            @extend .orange-gradient;
            color: $white;
            h3{
                color: $white !important;
            }
        }
        &.modal-gray{
            @extend .silver-gradient;
            color: $black;
        } 
        &.modal-green{
            background: $green;
            color: $white;
            h3{
                color: $white !important;
            }
        }       
        h3{
            font-size: $font-l;
            text-transform: uppercase;
        }
        .dropdown-label{
            width: 100%;
            float: left;
            margin-right: 10px;
            font-size: $font-xs;
            font-weight: $font-semibold;
        }
        .ui-select-bootstrap{
            width: 100%;
            float: right;
            min-width: 200px;
            .form-control{
                @extend .silver-gradient;
                p{
                    margin-bottom: 0px;
                    i{
                        color: $default;
                        margin-right: 6px;
                    }
                }
            }
            .ui-select-choices{
                background: $white;
                .ui-select-choices-row{
                    .ui-select-choices-row-inner{
                        background: $white;
                        display: flex;
                        align-items: center;
                        height: 38px;
                        color: $black;
                        padding-left: 33px !important;
                        &:hover{
                            background: $default;
                            color: $white;
                            @include border-radius(0px !important)
                        }                        
                    }
                    &:first-of-type a{
                        @include border-radius(5px 5px 0 0 !important);
                    }
                    &:last-of-type a{
                        @include border-radius(0px 0px 5px 5px !important);
                    }
                }
            }
        }
    }
    .custom-modal-body{
        width: 100%;
        float: left;
        .modal-left{
            width: 100%;
            float: left;
            
        }
    }
    .custom-modal-footer{
        width: 100%;
        float: left;
        margin-top: 30px;
        .btn{
            min-width: 155px;
        }
    }
}

.authmodal .modal-dialog{
    width: 100%;
}

@media (max-width: 768px){
    .custom-modal{
        .custom-modal-title{
            .dropdown-label{
                text-align: left;
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
        .custom-modal-footer{
            margin-top: 15px;
        }
    }
}

.search-list-modal{
    width: 100%;
    float: left;
    .description{
        color: $deep-blue;
        margin: 20px 0;
    }
    .price-box{
        width: auto;
        float: left;
        display: flex;
        align-items: flex-start;
        .per-price{
            width: 80px;
            float: left;
            font-size: $font-home-subtitle;
            font-family: $font-special;
            font-weight: $font-bold;
            display: flex;
            align-items: center;
            span{
                font-size: $font-ml;
            }
        }
        .per-time{
            width: 25px;
            float: left;
            font-size: $font-m;
            color: $secondary-text;
        }
    }
    .label-count, .label-rank{
        font-size: $font-r;
        color: $secondary-text;
        text-align: center;        
    }
    .contentr{
        font-size: $font-home-subtitle;
        color: $default;
        img{
            height: 36px;
        }
    }
}

/* Confrm popup */
.ng-confirm-box{
    padding: 0px !important;
    .ng-confirm-title{
        font-size: $font-xlx !important;
        color: $black !important;
        font-weight: $font-bold !important;
    }
    .ng-confirm-closeIcon{
        position: absolute;
        top: 25px !important;
        right: 30px !important; 
        z-index: 999;
        display: inline-block !important;
        opacity: 1 !important;
        .modal-close:before{
            font-size: $font-l;
            content: "";
            background: url(../img/close.png) no-repeat center center; 
            font-style: initial;
            font-weight: $font-bold;
            font-family: $font-default;
            width: 10px;
            height: 10px;
            display: inline-block;
        }
    }
    .ng-confirm-title-c{
        width: 100%;
        padding: 25px 30px !important;
        float: left;
        border-bottom: 1px solid $border;
    }
    .ng-confirm-content-pane{
        padding: 25px 30px;
        margin-bottom: 0px;
        min-height: 70px;
        .ng-confirm-content{
            font-size: $font-r;
            color: $secondary-text;
        }
    }
    .ng-confirm-buttons{
        width: 100%;
        float: left;
        border-top: 1px solid $border;
        padding: 25px 30px !important;
        text-align: right;
        .btn{
            margin-bottom: 0px !important;
            font-size: $font-m !important;
            font-weight: $font-regular !important;
            padding: 7px 15px !important;
            margin-left: 30px !important;
            text-transform: capitalize !important;
        }
    }
}

/* Share popover */
.sharepopover{
    width: 500px;
    margin: 0 auto;
    .ng-confirm-content-pane{
        min-height: 250px !important;
    }
}