.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    li{
        margin: 0 4px;
        a{
            color: $deep-blue;
            @include border-radius(5px);
            background: $pagination-bg;
            border: 0px solid transparent;
            padding: 6px 12px;
            &:hover, &:focus{
                background: $pagination-active !important;
                border-color: $pagination-active !important;
                color: $white !important;
            }
        }
        &:hover a, &.active a{
            background: $pagination-active;
            color: $white;
        }
        &:first-of-type, &:last-of-type{
            a{
                @extend .silver-gradient;
                color: $deep-blue;
                border: 0px solid transparent;
                @include box-shadow($box-shadow-card);
            }
        }
        &.disabled{
            display: inline-block !important;
            a{
                background: $pagination-bg;
                border-color: $pagination-bg;
                color: $white;
                @include border-radius(5px !important);
            }
        }
    }
}