.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    li{
        margin: 0 4px;
        &.hidePageNav a{
            cursor: default;
            opacity: 0;
            background: $pagination-bg;
            color: $white;
        }
        a{
            color: $deep-blue;
            @include border-radius(5px);
            @extend .silver-gradient;
            border: 1px solid $pagination-border;
            padding: 5px 15px;
            @include box-shadow($pagination-shadow);
            &:hover{
                background: $pagination-active !important;
                border: 1px solid $pagination-border !important;
                color: $white !important;
            }
        }
        &.active a, &.active a:hover{
            background: $pagination-active !important;
            border: 1px solid $pagination-active !important;
            color: $white !important;
        }
        &.next, &.prev{
            a{
                &:focus{
                    color: $deep-blue !important;
                    border: 1px solid $pagination-border !important;
                }
                &:hover{
                    color: $white !important;
                }
            }
        }
        &:first-of-type{
            i{
                margin-right: 8px;
            }
        }
        &:last-of-type{
            i{
                margin-left: 8px;
            }
        }
        &.disabled{
            display: inline-block !important;
            a{
                opacity: 0;
                background: $pagination-bg;
                color: $white;
                @include border-radius(5px !important);
            }
        }
    }
}

@media (max-width: 767px){
    .pagination li a{
        display: inline-flex;
        align-items: center;
    }
}