.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    li{
        margin: 0 4px;
        a{
            color: $deep-blue;
            @include border-radius(5px);
            @extend .silver-gradient;
            border: 1px solid $pagination-border;
            padding: 8px 16px;
            @include box-shadow($pagination-shadow);
            &:hover, &:focus{
                background: $pagination-active !important;
                border-color: $pagination-active !important;
                color: $white !important;
            }
        }
        &:hover a, &.active a{
            background: $pagination-active;
            color: $white;
            border-color: $pagination-active !important;
        }
        &:first-of-type, &:last-of-type{
            a{
                @extend .silver-gradient;
                color: $deep-blue;
            }
        }
        &:first-of-type{
            i{
                margin-right: 8px;
            }
        }
        &:last-of-type{
            i{
                margin-left: 8px;
            }
        }
        &.disabled{
            display: inline-block !important;
            a{
                opacity: 0;
                background: $pagination-bg;
                color: $white;
                @include border-radius(5px !important);
            }
        }
    }
}