.search-container{
    width: 100%;
    float: left;
    padding: 80px 8px 40px 8px;
    .slick-slider{
        .slick-prev, .slick-next{
            &:before{
                font-size: $font-xxl !important;
                color: $deep-blue !important;
            }
        }
        .slick-next{
            right: 5px;
            z-index: 999;
        }
        .slick-prev{
            left: 5px;
            z-index: 999;
        }
    }
}

.search-tab{
    width: 100%;
    float: left;
    list-style: none;
    margin-bottom: 0px;
    li{
        width: 20%;
        float: left;
        border-right: 1px solid $white;
        a{
            width: 100%;
            float: left;
            color: $white;
            text-transform: uppercase;
            font-size: $font-m;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend .upload-gradient;
            &:hover, &.active{
                @extend .orange-gradient;
            }
        }
        &:last-of-type{
            border-right: 0px;
        }
    }
}

.search-card{
    &.search-category{
        .card-img{
            position: relative;
            @include border-radius(0px);
            img{
                @include border-radius(0px);
            }
            .category-name{
                font-size: $font-home;
                color: $white;
                text-transform: uppercase;
                font-weight: $font-medium;
                @include absolute-center();
            }
        }
    }
    .search-top{
        width: 100%;
        float: left;
        @include border-radius(4px 4px 0 0);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-toggle{
            position: relative;
            cursor: pointer;
        }
    }
    .search-footer{
        a{
            display: inline-flex;
            align-items: center;
            flex-direction: column;
        }
    }
    .card-img{
        min-height: 200px;
        background-color: $gray;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        @include border-radius(4px 4px 0 0);
        img{
            width: 100%;
            height: 100%;
            min-height: 200px;
        }
    }
    @media (max-width: 1280px){
        .card-img{
            min-height: 150px;
        }
    }
}

.search-list{
    display: flex;
    align-items: center;
}

.loader{
    width: 100%;
    height: 100vh;
    @extend .flex-center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    background: rgba(255,255,255,0.5);
    color: $default;
}

@media (min-width: 768px) and (max-width: 1920px){
    .col-lg-20{
        width: 20%;
    }
}