.slick-slider{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.custom-slider{
    width: 100%;
    float: left;
    .imgcontainer{
        width: 100%;
        float: left;
        @include border-radius(5px);
    }
    .thumbslider{
        width: 100%;
        float: left;
        background: $white;
        padding: 0px;
        .slick-slider{
            width: 100%;
            float: left;
            margin-bottom: 0px;
        }
        .thumbholder{
            &:first-of-type, &:last-of-type{
                padding-left: 0px;
            }
        }
    }
}