.slick-slider{
    width: 100%;
    float: left;
    // margin-bottom: 15px;
    position: relative;
    .card{
        margin-bottom: 10px;
        width: calc(100% - 3px);
    }
    .slick-arrow{
        z-index: 999;
        &.slick-prev{
            left: 10px !important;
            width: 50px;
            height: 50px;
            @include border-radius(50%);
            background: $gray;
            opacity: 0.8;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:before{
                content: "\f104" !important;
                display: inline-block;
                font-family: FontAwesome !important;
            }            
        }
        &.slick-next{
            right: 10px !important;
            width: 50px;
            height: 50px;
            @include border-radius(50%);
            background: $gray;
            opacity: 0.8;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:before{
                content: "\f105" !important;
                display: inline-block;
                font-family: FontAwesome !important;
            }
        }
    }
}
.slick-disabled{
    display: none !important;
}
.custom-slider{
    width: 100%;
    float: left;
    .imgcontainer{
        width: 100%;
        float: left;
        height: 365px;
        position: relative;
        background: $silver;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        // @include border-radius(5px);
        .anguvideo{
            height: 365px;
            iframe{
                width: 100%;
                height: 100%;
                @include border-radius(5px);
                .player{
                    max-width: 100% !important;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .thumbslider{
        width: 100%;
        float: left;
        background: $silver;
        padding: 15px 10px;
        .slick-arrow{
            z-index: 999;
        }
        .slick-slider{
            width: 100%;
            float: left;
            // margin-bottom: 10px;
        }
        .slick-list{
            height: 75px;
        }
        .thumbholder{
            // padding: 0 5px 0 5px;
            .slidee{
                height: 75px;
                margin: 0 5px;
                @include border-radius(5px);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            &:first-of-type{
                padding-left: 0px;
            }
            &:last-of-type{
                padding-right: 0px;
            }
        }
    }
}

.vp-center .player{
    max-width: 100% !important;
    width: 100%;
    height: 100%;
}