.tooltip{    
    .tooltip-inner{
        padding: 10px;
        font-size: $font-r;
        background: $tooltip;
    }
    &.left{
        .tooltip-arrow{
            border-left-color: $tooltip;
        }
    }
    &.right{
        .tooltip-arrow{
            border-right-color: $tooltip;
        }
    } 
    &.bottom{
        .tooltip-arrow{
            border-bottom-color: $tooltip;
        }
    }  
    &.top{
        .tooltip-arrow{
            border-top-color: $tooltip;
        }
    }    
}

.custom-tooltip{
    min-width: 150px;
    height: auto;
    position: absolute;
    top: 0px;
    padding: 10px;
    font-size: $font-r;
    background: $tooltip;
    @include border-radius(4px);
    text-align: center;
    z-index: 9999;
    .custom-tooltip-inner{
        width: auto;
        color: $white;
        text-align: center;
        &:before{
            width: 5px;
            height: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            content: "";            
        }
    }
    &.tooltip-left{
        right: 100%;
        .custom-tooltip-inner{
            &:before{
                right: -5px;
                border-top: 5px solid transparent;
                border-left: 5px solid $tooltip;
                border-bottom: 5px solid transparent;
            }
        }
    }
    &.tooltip-right{
        left: 100%;
        .custom-tooltip-inner{
            &:before{
                left: -5px;
                border-top: 5px solid transparent;
                border-right: 5px solid $tooltip;
                border-bottom: 5px solid transparent;
            }
        }
    }
    &.tooltip-center{
        top: 50%;
        transform: translateY(-50%);
    }
}