.tooltip{ 
    .tooltip-inner{
        padding: 10px;
        font-size: $font-r;
        background: $tooltip;
    }
    &.left{
        .tooltip-arrow{
            border-left-color: $tooltip;
        }
    }
    &.right{
        .tooltip-arrow{
            border-right-color: $tooltip;
        }
    } 
    &.bottom{
        .tooltip-arrow{
            border-bottom-color: $tooltip;
        }
    }  
    &.top{
        .tooltip-arrow{
            border-top-color: $tooltip;
        }
    }    
}

.preview-tooltip{
    .tooltip-inner{
        min-width: 75px;
        padding: 10px 15px;
        @extend .silver-gradient;
        border: 1px solid $right-border;
        color: $secondary-text;
        font-size: $font-r;
        .icoholder{
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .tooltip-arrow{
        border-top-color: $light-tooltip;
        &:before{
            content: "";
            position: absolute;
            bottom: -1.5px;
            display: inline-block;
            border-width: 7px 7px 0;
            border-color: transparent;
            border-top-color: $right-border;
            border-style: solid;
            left: -7px;
            z-index: -1;
        }
    }
}

.custom-tooltip{
    min-width: 150px;
    height: auto;
    position: absolute;
    top: 0px;
    padding: 10px;
    font-size: $font-r;
    background: $tooltip;
    @include border-radius(4px);
    text-align: center;
    z-index: 9999;
    .custom-tooltip-inner{
        width: auto;
        color: $white;
        text-align: center;
        &:before{
            width: 5px;
            height: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            content: "";            
        }
    }
    &.tooltip-left{
        right: 100%;
        .custom-tooltip-inner{
            &:before{
                right: -5px;
                border-top: 5px solid transparent;
                border-left: 5px solid $tooltip;
                border-bottom: 5px solid transparent;
            }
        }
    }
    &.tooltip-right{
        left: 100%;
        .custom-tooltip-inner{
            &:before{
                left: -5px;
                border-top: 5px solid transparent;
                border-right: 5px solid $tooltip;
                border-bottom: 5px solid transparent;
            }
        }
    }
    &.tooltip-top{
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        .custom-tooltip-inner{
            &:before{
                top: auto;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $tooltip;
            }
        }
    }
    
    &.tooltip-center{
        top: 50%;
        transform: translateY(-50%);
    }
}