.topbar{
    width: 100%;
    float: left;
    padding: 20px;
    height: 80px;
    @include box-shadow($box-shadow-default);
    background: $white;
    @extend .flex-center-space;
    &.result{
        height: 30px;
        padding: 10px 15px;
        position: relative;
        .topbar-left{
            span.lefttext{
                color: $secondary-text;
                font-size: $font-r;
            }
        }
    }
    &.bg-gray{
        background: $secondary-color;
        color: $white !important;
    }
    .topbar-left{
        width: auto;
        float: left;
        @extend .flex-center;
        font-size: $font-xlx;
        .avatar{
            margin-right: 10px;
        }
        i{
            margin-right: 10px;
            color: $black;
            font-size: $font-xl;
        }
        h2{
            margin: 0px;
        }
        li{
            color: $black !important;
            margin-left: 0px !important;
            margin-right: 10px;
            &:first-of-type{
                border-right: 1px solid $black;
                padding-right: 10px;
            }
        }
    }
    .topbar-right{
        float: right;
        display: inline-flex;
        align-items: center;  
        h5{
            color: $black;
        }
        .dropdown-toggle{
            cursor: pointer;
        }  
        i{
            font-size: $font-ml;
        }
        span{
            color: $secondary-text;
        }   
    }
}

// Mobile
@media (max-width: 768px){
    .topbar{
        height: auto;
    }
}

.calendar-span{
    display: inline-flex;
    align-items: center;
    min-width: 130px;
    height: 30px;
    background: $secondary-color;
    padding: 0 16px;
    @include border-radius(4px);
    font-size: $font-r;
    i{
        margin-right: 8px;
        color: $white;
    }
    span{
        color: $white !important;
    }
}

.topbar-list{
    width: auto;
    float: left;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li{
        float: left;
        @extend .flex-center;
        font-size: $font-r;
        margin-left: 20px;
        color: $secondary-text;
        position: relative;
        img{
            margin-right: 10px;
        }
        i{
            font-size: $font-m;
            margin-right: 10px;
        }
        span{
            color: $black;
            display: inline-flex;
            align-items: center;
            i{
                margin-right: 0px;
                font-size: $font-l;
            }
        }
    }
}