<div class="mobile-footer footerbackg" ng-if="stateurl!='app.home' && stateurl!='app.mobilemain' && stateurl!='app.signup'">
   <ul>
      <li><a ui-sref="app.todos"><img src="./img/mobile/todo.png" /></a></li>
      <li><a ui-sref="app.wishlist"><img src="./img/mobile/favourite.png" /></a></li>
      <li><a ng-click="openbroadcastModal();"><img src="./img/mobile/menu.png" class="mob-home" /></a></li>
      <li><a ng-click="openModal();"><img src="./img/mobile/add-service.png" /></a></li>
      <li><a ui-sref="app.chats"><img src="./img/mobile/chat.png" />
      		<div class="noticount" ng-if="user.chatmessages > 0">{{user.chatmessages}}</div>
      		</a>
  	   </li>
   </ul>
</div>
