<div>
    <form class="form-horizontal" name="commisionForm" novalidate ng-submit="sendcommisionData();">
        <div class="modal_title modal_green col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding " ng-if="currentdevice == 'desktop'">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding flex-align">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  no-padding subjecttitle mmarginbottom10"><span ng-if="commisionData.type == 'Service'">COMMISION SERVICE FORM </span><span ng-if="commisionData.type == 'Event'">EVENT REGISTRATION FORM</span><span ng-if="commisionData.type == 'Rental'"> RENTAL SERVICE FORM</span><span ng-if="commisionData.type == 'Shop'"> PURCHASE REQUEST FORM</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 padd mobile-no-padding col-xs-12"><span class="type" ng-if="commisionData.type == 'Service'">Types of Service</span><span class="innerinfonew" ng-if="commisionData.type == 'Service'"><i class="fa fa-circle-o marginright5" aria-hidden="true"></i>{{commisionData.profession}}</span></div>
                    <div class="col-lg-2   ol-md-2 col-sm-2  no-padding text-right subjecttitle">
                        <div class="float-rt closeb" ng-click="closepopoverItem();"><i class="fa fa-minus-square-o" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding " ng-if="currentdevice == 'mobile'">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding">
                    <div class="col-xs-12  no-padding subjecttitle mmarginbottom10"><span ng-if="(commisionData.type == 'Service')">COMMISION SERVICE FORM </span><span ng-if="(commisionData.type == 'Event')">EVENT REGISTRATION FORM</span><span ng-if="(commisionData.type == 'Rental')"> RENTAL SERVICE FORM</span>
                        <span ng-if="(commisionData.type == 'Shop')"> PURCHASE REQUEST FORM</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 padd mobile-no-padding col-xs-12  no-padding">
                        <div class="col-xs-4 mobile-no-padding"><span class="type">Types of Service</span></div>
                        <div class="col-xs-8 mobile-no-padding">
                            <div class="innerinfonew col-xs-12">
                                <div class="col-xs-2 no-padding"><i class="fa fa-circle-o marginright5" aria-hidden="true"></i></div>
                                <div class="col-xs-10 mobile-no-padding">{{commisionData.type}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="lettercontainer">
            <div class="letterdetailscontainer letterdetailscontainernew noborder-top col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile-no-padding">
                <div class="letterdetailscontainer">
                    <div class="leftimage">
                        <div class="col-lg-12 col-md-12 col-sm-12  dottedborder">
                            NOTE: The is a <a>Tripartite Standard Agreement</a> form to protect both parties against any issues in the future. Read for more info<a> here</a>.
                            <br>
                            <br>
                            <div class="bottomnewtext">Read and agreed to the TSA Protection Scheme</div>
                            <div class="pretty p-image p-plain floatleft commisionagree mobile-no-margin-right no-margin-right">
                                <input type="checkbox" name="isaccept" ng-true-value="1" ng-false-value="0" ng-model="commisionData.isaccept" class="ng-pristine ng-untouched ng-valid" tabindex="0" aria-checked="false" aria-invalid="false">
                                <div class="state">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <label>&nbsp;&nbsp;</label>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 nopadding margintop10">
                            <div class="label-text marginbottom5">Images</div>
                            <slick data="commisionData.images" infinite="false" init-onload="true" settings="productslick" ng-if="!formLoading" class="slider-for">
                                <div class="itemslider" ng-repeat="(key,image) in commisionData.images">
                                    <div class="preview-img height-180" background-image="{{IMGURL}}{{image.file}}" ng-if="image.filetype == 1"></div>
                                    <span class="preview-img" ng-if="image.filetype == 2">
                                       <anguvideo ng-model="image.file" width="100%" height="auto" ng-if="image.file&&!image.file.includes('soundcloud')"></anguvideo>
                                       <sound-cloud-player url="{{image.file}}" ng-if="image.file && image.file.includes('soundcloud')"></sound-cloud-player>
                                    </span>
                                </div>
                            </slick>
                        </div>
                        <div class="col-lg-12 col-md-12 nopadding">
                            <div class="thumbslider">
                                <slick data="commisionData.images" infinite="false" init-onload="true" settings="mobilethumbslick" ng-if="!formLoading" class="slider-nav">
                                    <div class="thumbholder" ng-repeat="(key,image) in commisionData.images">
                                        <div class="slidee" background-image="{{image.filetype == 1 ? IMGURL : ''}}{{image.thumbnail}}"></div>
                                    </div>
                                </slick>
                            </div>
                        </div>
                    </div>
                    <div class="rightimage">
                        <div class="infodiv">
                            <div class="common-itmes">
                                <div class="col-lg-12 col-md-12 nopadding mmargintop10">
                                    <div class="detailstitle">{{commisionData.title}}</div>
                                </div>
                                <div class="col-lg-12 col-md-12 nopadding margintop10">
                                    <div class="details">{{commisionData.description | cut:true:500:''}}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 nopadding  no-padding-left mobile-no-padding-left">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding " ng-if="!commisionData.counteroffer">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding ">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding-left mobile-no-padding-left margintop10" ng-if="(commisionData.type == 'Service')">
                                                <div class="label-text marginbottom5">Location</div>
                                                <div class="input-append date relative form_datetime">
                                                    <div class="datediv pjsbutton">
                                                        <span class="add-onnew"><i class="fa fa-map-marker "></i> {{commisionData.location}}</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding-left mobile-no-padding-left margintop10" ng-if="(commisionData.type == 'Shop')">
                                                <div class="label-text marginbottom5">Product Category</div>
                                                <div class="input-append date relative form_datetime">
                                                    <div class="datediv pjsbutton">
                                                        <span class="add-onnew"><i class="fa fa-suitcase"></i> {{commisionData.type}}</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding-left mobile-no-padding-left margintop10" ng-if="(commisionData.type == 'Service' )">
                                                <div class="label-text marginbottom5">Skill</div>
                                                <div class="input-append date relative form_datetime">
                                                    <div class="datediv pjsbutton">
                                                        <span class="add-onnew"><i class="fa fa-user"></i> {{commisionData.profession}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding-left mobile-no-padding-left margintop10" ng-if="(commisionData.type == 'Rental' || commisionData.type == 'Event')&&(commisionData.startdate)">
                                                <div class="label-text marginbottom5">Start Date</div>
                                                <div class="input-append date relative form_datetime">
                                                    <div class="datediv pjsbutton">
                                                        <span class="add-onnew"><i class="fa fa-calendar"></i> {{commisionData.startdate|date:'dd-MM-yyyy'}}</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding-left mobile-no-padding-right margintop10" ng-if="(commisionData.type == 'Rental' || commisionData.type == 'Event')&&(commisionData.enddate)">
                                                <div class="label-text marginbottom5">End Date</div>
                                                <div class="input-append date relative form_datetime">
                                                    <div class="datediv pjsbutton">
                                                        <span class="add-onnew"><i class="fa fa-calendar"></i> {{commisionData.enddate|date:'dd-MM-yyyy'}}</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding-left mobile-no-padding-right margintop10" ng-if="(commisionData.type == 'Rental' || commisionData.type == 'Event')&&(!commisionData.enddate) &&(commisionData.startdate)">
                                                <div class="label-text marginbottom5">End Date</div>
                                                <div class="input-append date relative form_datetime">
                                                    <div class="datediv pjsbutton">
                                                        <span class="add-onnew"><i class="fa fa-calendar"></i> 
                                    Not Mention</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 no-padding-left mobile-no-padding-left margintop10" ng-if="commisionData.type == 'Event'">
                                                <div class="label-text marginbottom5">Start Time</div>
                                                <div class="input-append date relative form_datetime">
                                                    <div class="datediv pjsbutton1">
                                                        <span class="add-onnew"><i class="fa  fa-clock-o"></i> {{commisionData.starttime}}</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 no-padding-left mobile-no-padding-right margintop10" ng-if="commisionData.type == 'Event'">
                                                <div class="label-text marginbottom5">End Time</div>
                                                <div class="input-append date relative form_datetime">
                                                    <div class="datediv pjsbutton1">
                                                        <span class="add-onnew"><i class="fa  fa-clock-o"></i> {{commisionData.endtime}}</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding ">
                                            <div class="col-lg-3  col-md-3  col-sm-3  col-xs-6 no-padding mobile-no-padding margintop10">
                                                <div class="label-text marginbottom5">
                                                    Price
                                                </div>
                                                <div class="products width-100">
                                                    <div class="price-box">

                                                        <span class="per_price"><span ng-if="commisionData.price > 0">$</span>{{commisionData.price ? commisionData.price: 'Free'}}</span>
                                                        <span class="per_time" ng-if="commisionData.price > 0 && commisionData.type!='Shop'">Per {{commisionData.periodtype}}</span>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="commisionData.counteroffer">
                                        <div class="event-items">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding ">
                                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6 no-padding-left mobile-no-padding-left margintop10" ng-if="(commisionData.type == 'Rentals' || commisionData.type == 'Events')&&(commisionData.startdate)">
                                                    <div class="label-text marginbottom5">Start Date <span class="text-danger" ng-if="startdateerror"></span></div>
                                                    <div class='add-on col-lg-12 nopadding date datepicker p_relative'>
                                                        <div class="input-group-btn">
                                                            <button class="collabro_btn btn-default">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                        <input type="text" date-picker size="16" n ng-model="commisionData.productstartdate" placeholder="Start Date" name="startdate" ng-required="!commisionData.hasstartdate" readonly/>
                                                    </div>

                                                </div>
                                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6 no-padding-left mobile-no-padding-right margintop10" ng-if="(commisionData.type == 'Rentals' || commisionData.type == 'Events')&&(commisionData.enddate)">
                                                    <div class="label-text marginbottom5">End Date <span class="text-danger" ng-if="enddateerror"> (Required)</span></div>
                                                    <div class='add-on col-lg-12 nopadding date datepicker p_relative'>
                                                        <div class="input-group-btn">
                                                            <button class="collabro_btn btn-default">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                        <input type="text" date-picker size="16" placeholder="End Date" name="enddate" required readonly ng-model='commisionData.productenddate' />
                                                    </div>

                                                </div>
                                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6 no-padding-left mobile-no-padding-right margintop10" ng-if="(commisionData.type == 'Rentals' || commisionData.type == 'Events')&&(!commisionData.enddate)&&(commisionData.startdate)">
                                                    <div class="label-text marginbottom5">End Date <span class="text-danger" ng-if="enddateerror"> (Required)</span></div>
                                                    <div class='add-on col-lg-12 nopadding date datepicker p_relative'>
                                                        <div class="input-group-btn">
                                                            <button class="collabro_btn btn-default">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                        <input type="text" date-picker size="16" placeholder="End Date" name="enddate" required readonly ng-disabled="!formData.type" ng-model='commisionData.productenddate' />
                                                    </div>

                                                </div>
                                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6 no-padding-left mobile-no-padding-left margintop10" ng-if="commisionData.type == 'Events'">
                                                    <div class="label-text marginbottom5">Start Time </div>
                                                    <div class='add-on col-lg-12 nopadding date datepicker p_relative'>
                                                        <div class="input-group-btn">
                                                            <button class="collabro_btn btn-default">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                        <input type="text" date-picker size="16" ng-model="commisionData.starttime" placeholder="Start Time" readonly/>
                                                    </div>

                                                </div>
                                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6 no-padding-left mobile-no-padding-right margintop10" ng-if="commisionData.type == 'Events'">
                                                    <div class="label-text marginbottom5">End Time </div>
                                                    <div class='add-on col-lg-12 nopadding date datepicker p_relative'>
                                                        <div class="input-group-btn">
                                                            <button class="collabro_btn btn-default">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                        <input type="text" date-picker ng-model="commisionData.endtime" placeholder="End Time" readonly />
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding ">
                                                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-6 no-padding mobile-no-padding margintop10">
                                                    <div class="label-text marginbottom5">
                                                        Price
                                                    </div>

                                                    <div class="rate_holder margintop5">
                                                        <div class="rate_currency">$</div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding mobile-no-padding-left ">
                                                            <input type="tex" class="collabro-text-box no-margin percost price-decor" placeholder="0.00" name="price" ng-model="commisionData.price" required min="1" max="100000" limit-to-max step="0.01" valid-number precision="2">
                                                        </div>
                                                        <div class="rate_price display col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding mobile-no-padding-right" ng-if="commisionData.type!='Shop'">
                                                            <ui-select name="periodtype" ng-model="commisionData.periodtype" theme="bootstrap" search-enabled="false" onkeypress="return false;" onfocus="blur();">
                                                                <ui-select-match allow-clear="true" class="selected-item float-lt">
                                                                    <p>
                                                                        <!-- <i class="fa fa-circle-o"></i>  -->{{commisionData.periodtype ? commisionData.periodtype : 'Select Period Type'}}
                                                                    </p>
                                                                </ui-select-match>
                                                                <ui-select-choices repeat="periodtype in periodtypes">
                                                                    <span ng-bind-html="periodtype | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="bluebordercontainer" ng-if="currentdevice == 'mobile'"></div>

        <div class="modal-footer">

            <div class="col-lg-12 col-md-12 col-sm-12  no-padding margintop10 ">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 mobile-no-padding-right no-padding-right button_right" tooltip="You Need to agree TSA Protection rules!" tooltip-enable="!commisionData.isaccept" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-class="agreementerror">
                    <div class="btn-group dropdown dropup col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" ng-if="!commisionData.hasbargain && !commisionData.counteroffer">
                        <button class="collabro_btn gradient-button button-width-100" data-toggle="dropdown" aria-expanded="false" type="button">Action <i class="fa fa-angle-down marginleft5" aria-hidden="true"></i></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a>
                                    <button class="collabro_btn accept button-width-100" ng-disabled="!commisionData.isaccept" type="submit" ng-click="sendcommisionData()">Proceed</button>
                                </a>
                            </li>
                            <li ng-if="!commisionData.hasbargain && !commisionData.counteroffer" ng-click="commisionData.counteroffer = !commisionData.counteroffer">
                                <a>
                                    <button class="collabro_btn counter  button-width-100" ng-disabled="!commisionData.isaccept" type="button">Counter Offer</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown dropup col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" ng-if="commisionData.hasbargain" tooltip="You Need to agree TSA Protection rules!" tooltip-enable="!commisionData.isaccept" tooltip-trigger="mouseenter" tooltip-placement="right"
                        tooltip-class="commisionerror">
                        <button class="collabro_btn accept button-width-100" type="button" ng-disabled="!commisionData.isaccept" ng-click="sendcommisionData()">Proceed </button>
                    </div>
                    <div class="btn-group dropdown dropup col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" ng-if="commisionData.counteroffer" tooltip="You Need to agree TSA Protection rules!" tooltip-enable="!commisionData.isaccept" tooltip-trigger="mouseenter" tooltip-placement="right"
                        tooltip-class="commisionerror">
                        <button class="collabro_btn accept button-width-100" type="button" ng-disabled="!commisionData.isaccept" ng-click="sendcommisionData()">Proceed </button>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 mobile-no-padding-left no-padding-right button_right">
                    <button class="collabro_btn border-chat button-width-100" ng-click="gotoChat(commisionData.id)"><i class="fa fa-phone-square marginright5" aria-hidden="true"></i>CHAT</button>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mobile-no-padding no-padding-left button_right mmargintop10 bgF4F4F4" ng-if="currentdevice == 'desktop'">
                    <span class="submitcontent">*By confirming it means you agree with Collabro’s <a>terms and conditions.</a> Alternatively you can check with the seller first.</span>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 mobile-no-padding no-padding-left button_right mmargintop10 bgF4F4F4 " ng-if="currentdevice == 'mobile'">
                    <div class="col-xs-10 mobile-no-padding-right"><span class="submitcontent margintopbottom15">*By confirming it means you agree with Collabro’s <a>terms and conditions.</a> Alternatively you can check with the seller first.</span> </div>
                    <div class="col-xs-2 mobile-no-padding-left">
                        <div class="float-rt closeb margintopbottom15" ng-click="closepopoverItem();"><i class="fa fa-minus-square-o" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>