<div class="custom-modal">
   <slick data="popOverData.images" infinite="false" init-onload="true" settings="popOverCarousel" class="slider-for">
      <div class="imgcontainer" ng-repeat="(key,image) in popOverData.images" background-image="{{image.filetype == 1 ? ( IMGURL + image.file) : ''}}">
         <span ng-if="image.filetype == 2">
            <anguvideo ng-model="image.file" width="100%" height="auto" ng-if="image.file&&!image.file.includes('soundcloud')"></anguvideo>
            <sound-cloud-player url="{{image.file}}" class="m-t-sm" ng-if="image.file&&image.file.includes('soundcloud')"></sound-cloud-player>
         </span>
      </div>
   </slick>
   <div class="thumbslider">
      <slick data="popOverData.images" infinite="false" init-onload="true" settings="popOverThumbCarousel" ng-if="!formLoading" class="slider-nav">
         <div class="thumbholder" ng-repeat="(key,image) in popOverData.images" >
            <div class="slidee" background-image="{{image.filetype == 1 ? IMGURL : ''}}{{image.thumbnail}}"></div>
         </div>
      </slick>
   </div>
   <div class="search-list-modal">
      <div class="row">
            <div class="col-md-7 col-sm-7 col-lg-7">
               <h3>{{popOverData.title}} </h3>
               <div class="description">{{popOverData.description | cut:true:100:''}}</div>               
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-lg-offset-1 col-md-offset-1">
               <div class="col-md-6 col-sm-6 col-lg-6 mt-10 text-center br-1">
                  <div class="label-count">Completed
                     Projects
                  </div>
                  <div class="contentr">0</div>
               </div>
               <div class="col-md-6 col-sm-6 col-lg-6 mt-10 text-center">
                  <div class="label-rank">Rank
                     Apprentice
                  </div>
                  <img ng-src="{{ IMGURL + popOverData.owner.xprank.icon }}" class="rank-icon"/>
               </div>               
            </div>
      </div>
      <div class="row mt-20">
         <div class="col-lg-7 col-md-7">
            <div class="price-box">
               <span class="per-price"><span ng-if="popOverData.price > 0">$</span>{{popOverData.price ? popOverData.price: 'Free'}}</span>
               <span class="per-time" ng-if="popOverData.price > 0 && popOverData.type !='Shop'">Per {{popOverData.periodtype}}</span>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-lg-4 col-lg-offset-1 col-md-offset-1">
            <a class="btn success-btn block-btn" ng-click="logintoProduct(popOverData.id);">LOGIN TO VIEW</a>
         </div>
      </div>
   </div>
</div>
<style type="text/css">
  .imgcontainer {
    height: 365px;
    text-align: center;
    white-space: nowrap;
    background: #fff;
    position: relative;
    padding: 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.thumbslider {
    background: #dadfe2;
    padding: 10px 0px;
}.thumbholder {
    padding: 0px 6px;
}.thumbslider .slick-track .slidee {
    height: 75px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5px;
}.rank-icon{
  width: 40px;
}
</style>

<!-- Login modal -->
<!-- <div class="modal-overlay">
    <div class="signin-modal">
        <div class="login-modal">
            <h1>Create Your Account</h1>
            <form>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="username" />
                </div>
                <div class="form-group">
                    <label class="control-label">E-mail address</label>
                    <input type="text" class="form-control" placeholder="email@address.com" />
                    <span class="error error-text">Invalid format</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" placeholder="password" />
                    <span class="eye-icon">
                        <i class="fa fa-eye"></i>
                    </span>
                    <span class="error error-text">Invalid format</span>
                </div>
                <div class="form-group custom-dropdown">
                    <label class="control-label">Who you are?</label>
                    <div class="custom-arrow">
                        <select class="select-form-control">
                            <option value="option">Individual</option>
                            <option value="option">Company</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mt-15">
                    <input type="button" disabled class="btn success-btn block-btn" value="Proceed" />
                </div>
                <p class="text-center">Create an account to buy and sell in our community! If you already have an account <a href="#">Login in here</a></p>
            </form>
        </div>
    </div>
</div> -->