<div class="rightfixed" id="right-menu" ng-if="user.username">
    
    <div class="search-right-menu" ng-if="stateurl=='search'">
        <div class="searchcontainer" ng-if="!viewData.title">
            <div class='pfcontentnew border1px'>
                <div class="countholder">
                    <div class="countno">{{counts.overallcount}}</div>
                    <div class="countdetail">Listings Available</div>
                </div>
            </div>
            <div class='countnewholder border1px'>
                <div class="countnewholder ">
                    <div class="countnew">{{counts.servicecount}}<img src="img/service.png"></div>
                    <div class="countnewdetail">Service</div>
                </div>
            </div>
            <div class='countnewholder border1px'>
                <div class="countnewholder ">
                    <div class="countnew">{{counts.shopcount}}<img src="img/shop.png"></div>
                    <div class="countnewdetail">Product</div>
                </div>
            </div>
            <div class='countnewholder border1px'>
                <div class="countnewholder ">
                    <div class="countnew">{{counts.rentalcount}}<img src="img/rental.png"></div>
                    <div class="countnewdetail">Rental</div>
                </div>
            </div>
            <div class='countnewholder border1px'>
                <div class="countnewholder ">
                    <div class="countnew">{{counts.eventcount}}<img src="img/event.png"></div>
                    <div class="countnewdetail">Events</div>
                </div>
            </div>
            <div class='countnewholder border1px'>
                <div class="countnewholder ">
                    <div class="countnew">{{counts.usercount}}<img src="img/members.png"></div>
                    <div class="countnewdetail">Members</div>
                </div>
            </div>
            <div class='countnewholder border1px'>
                <div class="countnewholder ">
                    <div class="countnew">{{counts.dealsmade}}<img src="img/deals.png"></div>
                    <div class="countnewdetail">Deals Made</div>
                </div>
            </div>
            <div class='countnewholder border1px'>
                <div class="countnewholder ">
                    <div class="countnew">{{counts.conversationcount}}<img src="img/conversation.png"></div>
                    <div class="countnewdetail">Conversations</div>
                </div>
            </div>
        </div>
        <div class="searchcontainers" ng-if="viewData.title">
            <button class='followbutton' ng-click="changefollowstatus();" ng-if="viewData.owner.id != user.id"> {{ viewData.isfollow ? 'UnFollow':'Follow'}} <i class="fa fa-user-plus margin-left10" aria-hidden="true"></i></button>
            <div class="bor col-lg-12 col-sm-12 col-md-12" ng-if="viewData.searchownerproducts.length > 0">
                <div class="powerhead flex-align margin-bottom"><img src="img/power.png" style="   height: 18px;">&nbsp;Other Works</div>
                <div class="powerimg col-lg-12 col-sm-12 col-md-12 nopadding"><div class="col-lg-6 col-md-6 col-sm-6 nopadding" ng-repeat="(key,data) in viewData.searchownerproducts | limitTo: 2" ui-sref="app.viewitem({id:data.id})"><img ng-src="{{data.images[0].filetype == 1 ? IMGURL : ''}}{{data.images[0].thumbnail}}"  class="search-owner-productimg"></div></div>
            </div>
            <div class="clear"></div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">Singapore</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Date</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{convertDate(viewData.created_at) | dateToISO | date:'dd.MM.yy'}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Followers</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{viewData.owner.followers}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Appreciation</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-eye" aria-hidden="true"></i></div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{viewData.noofviews}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Joined</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{convertDate(viewData.owner.created_at) | dateToISO | date:'dd.MM.yy'}}</div>
            </div>
            <div class='pfcontentnew chatico'>
                <div class="chatbg cursor" ng-if="viewData.owner.id != user.id" ng-click="gotoChat(viewData.id)"><img src="img/messenger.png"></div>
            </div>
        </div>
    </div>
    <div class="search-right-menu" ng-if="stateurl=='notification'||stateurl=='chats'||stateurl == 'wishlist'||stateurl == 'projectlist'||stateurl=='projectdetails'||stateurl=='feeds'||stateurl == 'todos'||stateurl == 'viewtodo'||stateurl == 'viewfeed'||stateurl == 'howitworks'||stateurl == 'rewardsandbenefits'">
        <div class="searchcontainers">
            <div class="text-center">
                <button class='collabro_btn commision-button button-width-100' ng-click="openRequestModal();" ng-if="stateurl != 'projectdetails'"> Post Request </button>
                <button class='collabro_btn commision-button button-width-100' ng-click="openRequestModal();" ng-if="stateurl == 'projectdetails' && projectData.owner.id != user.id"> Post Request </button>
                <button class='collabro_btn commision-button button-width-100' ng-click="editProject();" ng-if="stateurl == 'projectdetails' && projectData.owner.id == user.id"> Edit Project </button>
            </div>

            <div class="">
                <div class="issueinfo">
                    <div class="text-left"><i class="fa fa-info-circle"></i></div>Having issues with Project? Visit the Resolution Center</div>

            </div>
            <blockquote class="example-right">
                <p>Review the complete project to earn extra Xperience Points!</p>
            </blockquote>

            <!-- <div class='pfcontentnew chatico'>
                <div class="chatbg"><img src="img/messenger.png"></div>
            </div> -->
        </div>
    </div>
    <div class="search-viewitem-menu" ng-if="stateurl=='myfriends' || stateurl=='userchats' || stateurl=='privatechat' || stateurl=='feedchat'">
        <div class="friendcontainers">
            <div class="button-holder">
                <button class='collabro_btn commision-button button-width-100' ng-click="opencollaboratemodal();" > Create Group</button>
            </div>
            <div class="friendtitle-holder">
                <div class="captions">Recent
                    <div class="sub-text">Friends Activities</div>
                </div>
            </div>
            <div class="friendlist">
                <div class="friendlistholder col-md-12 col-sm-12 col-lg-12" ng-repeat="(key,user) in friendsandfollowers.friends" ui-sref="app.viewuser({'id':user.id})">
                    <div class="leftfriendinfo col-md-8 col-sm-8 col-lg-8 nopadding">
                        <div class="friendcaptions">{{user.username  | cut:true:10:''}}
                            <div class="friend-sub-text">{{user.profession}}</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 nopadding friendimg"><img ng-src="{{IMGURL}}{{user.avatar}}"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="friendtitle-holder">
                <div class="captions">Followers
                    <div class="sub-text">Add Friends</div>
                </div>
            </div>
            <div class="friendlistFollow">
                <div class="friendlistholder col-md-12 col-sm-12 col-lg-12 cursor" ng-repeat="(key,user) in friendsandfollowers.followers" ui-sref="app.viewuser({'id':user.id})">
                    <div class="leftfriendinfo col-md-8 col-sm-8 col-lg-8 nopadding">
                        <div class="friendcaptions">{{user.username | cut:true:10:''}}
                            <div class="friend-sub-text">{{user.profession}}</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 nopadding friendimg"><img ng-src="{{IMGURL}}{{user.avatar}}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-viewitem-menu" ng-if="stateurl=='mydashboard' || stateurl=='viewuser'">
        <div class="graphpad">
        <div class="graphholder " ng-if="!formLoading">
                <img src="img/teardrop.png" class="canvasbg">
                <span class="stats">STATS</span> <span class="XP">XP</span>
                <canvas id="doughnut" class="chart chart-doughnut" chart-options="ChartOptions" width="110" height="220" chart-data="chartdata" chart-colors="Colors" chart-labels="labels" style="">
            </canvas>
                <div class="graphcenter" ng-class="{'greatthounsand':user.experiencepoints >=  1000}">{{user.experiencepoints}}</div>
            </div>
        </div>


        <div class="friendcontainers">
            <div class="friendtitle-holder">
                <div class="captions">Recent
                    <div class="sub-text">Friends Activities</div>
                </div>
            </div>
            <div class="friendlist">
                <div class="friendlistholder col-md-12 col-sm-12 col-lg-12 cursor" ng-repeat="(key,user) in friendsandfollowers.friends" ui-sref="app.viewuser({'id':user.id})">
                    <div class="leftfriendinfo col-md-8 col-sm-8 col-lg-8 nopadding">
                        <div class="friendcaptions">{{user.username | cut:true:10:''}}
                            <div class="friend-sub-text">{{user.profession}}</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 nopadding friendimg"><img ng-src="{{IMGURL}}{{user.avatar}}"></div>
                </div>
            </div>
             <div class="clear"></div>
            <div class="friendtitle-holder">
                <div class="captions">Followers
                    <div class="sub-text">Add Friends</div>
                </div>
            </div>
            <div class="friendlistFollow">
                <div class="friendlistholder col-md-12 col-sm-12 col-lg-12 cursor" ng-repeat="(key,user) in friendsandfollowers.followers" ui-sref="app.viewuser({'id':user.id})">
                    <div class="leftfriendinfo col-md-8 col-sm-8 col-lg-8 nopadding">
                        <div class="friendcaptions">{{user.username | cut:true:10:''}}
                            <div class="friend-sub-text">{{user.profession}}</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 nopadding friendimg"><img ng-src="{{IMGURL}}{{user.avatar}}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-viewitem-menu" ng-if="stateurl=='viewitem'">
        <div class="searchcontainers">
            <button class='followbutton' ng-click="changefollowstatus();" ng-if="viewData.owner.id != user.id"> {{ viewData.isfollow ? 'UnFollow':'Follow'}} <i class="fa fa-user-plus margin-left10" aria-hidden="true" ></i></button>
            <button class='collabro_btn commision-button button-width-100' ng-click="editProduct();" ng-if="(viewData.owner.id == user.id)&&(!viewData.is_request)"> Edit {{(viewData.type == 'Service' ? 'Service' : (viewData.type == 'Shop' ? 'Product' : viewData.type == 'Rental' ? 'Rental' : viewData.type == 'Event' ? 'Event': viewData.type))}}</button>
            <button class='collabro_btn commision-button button-width-100' ng-click="editRequest();" ng-if="(viewData.owner.id == user.id)&&(viewData.is_request)"> Edit Request</button>
            <button class='collabro_btn commision-button button-width-100' ng-click="showCommision();" ng-if="(viewData.owner.id != user.id)&&(!viewData.commisionData)"> {{ (viewData.type == 'Service' ? 'Commission' : (viewData.type == 'Shop' ? 'Order Now' : viewData.type == 'Rental' ? 'Book Now' : viewData.type == 'Event' ? 'Register Now': viewData.type))  }}</button>
            <button class='collabro_btn commision-button button-width-100' ng-click="showCommision();" ng-if="(viewData.owner.id != user.id)&&(viewData.commisionData)"> View  {{ (viewData.type == 'Service' ? 'Commisioned' : (viewData.type == 'Shop' ? 'Order' : viewData.type == 'Rental' ? 'Booked' : viewData.type == 'Event' ? 'Registered': viewData.type))  }}</button>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">Singapore</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Date</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{convertDate(viewData.created_at) | dateToISO | date:'dd.MM.yy'}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Followers</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{viewData.owner.followers}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Appreciation</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-eye" aria-hidden="true"></i></div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{viewData.noofviews}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Joined</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{convertDate(viewData.owner.created_at) | dateToISO | date:'dd.MM.yy'}}</div>
            </div>
            <div class='pfcontentnew chatico'>
                <div class="chatbg" ng-if="(stateurl=='viewitem')&&(viewData.owner.id != user.id)" ng-click="gotoChat(viewData.id)"><img src="img/messenger.png"></div>
            </div>
        </div>
    </div>
    <div class="search-viewitem-menu" ng-if="stateurl=='productchat'">
        <div class="searchcontainers">
            <button class='followbutton' ng-click="changefollowstatus();" ng-if="ProductViewData.owner.id != user.id"> {{ ProductViewData.isfollow ? 'UnFollow':'Follow'}} <i class="fa fa-user-plus margin-left10" aria-hidden="true" ></i></button>
            <button class='collabro_btn commision-button button-width-100' ng-click="editProduct();" ng-if="ProductViewData.owner.id == user.id"> Edit Product</button>
            <button class='collabro_btn commision-button button-width-100' ng-click="showCommision();" ng-if="(ProductViewData.owner.id != user.id)&&(!ProductViewData.commisionData)"> {{ (ProductViewData.type == 'Service' ? 'Commision' : (ProductViewData.type == 'Shop' ? 'Buy' : ProductViewData.type == 'Rental' ? 'Booking' : ProductViewData.type == 'Event' ? 'Register': ProductViewData.type))  }}</button>
            <button class='collabro_btn commision-button button-width-100' ng-click="gotoChat(ProductViewData.id)" ng-if="(ProductViewData.owner.id != user.id)&&(ProductViewData.commisionData)"> View  {{ (ProductViewData.type == 'Service' ? 'Commisioned' : (ProductViewData.type == 'Shop' ? 'Bought' : ProductViewData.type == 'Rental' ? 'Booked' : ProductViewData.type == 'Event' ? 'Registered': ProductViewData.type))  }}</button>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">Singapore</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Date</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{convertDate(ProductViewData.created_at) | dateToISO | date:'dd.MM.yy'}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Folllowers</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{ProductViewData.owner.followers}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Appreciation</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding"><i class="fa fa-eye" aria-hidden="true"></i></div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{ProductViewData.noofviews}}</div>
            </div>
            <div class="text-holder">
                <div class="leftcontent col-md-6 col-sm-6 col-lg-6  nopadding">Joined</div>
                <div class="rightcontent col-md-6 col-sm-6 col-lg-6  nopadding">{{convertDate(ProductViewData.owner.created_at) | dateToISO | date:'dd.MM.yy'}}</div>
            </div>
            <div class='pfcontentnew chatico'>
                <div class="chatbg" ng-if="(stateurl=='viewitem')&&(ProductViewData.owner.id != user.id)" ng-click="gotoChat(ProductViewData.id)"><img src="img/messenger.png"></div>
            </div>
        </div>
    </div>
    <div class="search-usermain-menu" ng-if="stateurl=='usermain'">
        <div class='pfcontentnew'>
            <div class="pfgroup">
                <span class="pfname">APPRENTICE</span> <span class="pfdown"><i class="fa fa-trophy" ng-class="{'bronze':((user.experiencepoints >= 100) && (user.experiencepoints < 200)),'silver':((user.experiencepoints >= 200) && (user.experiencepoints < 300)), 'gold':((user.experiencepoints >= 300) && (user.experiencepoints < 400)),'platinum': ((user.experiencepoints >= 400) && (user.experiencepoints < 500)),'diamond': user.experiencepoints >= 500}"></i></span>
            </div>
            <div class="graphholder" ng-if="!formLoading">
                <img src="img/teardrop.png" class="canvasbg">
                <span class="stats">STATS</span> <span class="XP">XP</span>
                <canvas id="doughnut" class="chart chart-doughnut" chart-options="ChartOptions" width="110" height="220" chart-data="chartdata" chart-colors="Colors" chart-labels="labels" style="">
            </canvas>
                <div class="graphcenter" ng-class="{'greatthounsand':user.experiencepoints >=  1000}">{{user.experiencepoints}}</div>
            </div>
            <div class="stathead margintop">Weekly Summary</div>
            <div><span class='stattext'>16</span><span class='stattextslash'>/</span><span class='stattext'>24</span></div>
            <div class="stattextinfo">Projects Finished</div>
            <div><span class='stattext'>9</span><span class='stattextslash'>/</span><span class='stattext'>12</span></div>
            <div class="stattextinfo">Project Ongoing</div>
            <div><span class='stattext'>84</span><span class='stattextslash'>/</span><span class='stattext'>216</span></div>
            <div class="stattextinfo">Project Pending</div>
            <div><span class='stattext'>2</span><span class='stattextslash'>/</span><span class='stattext'>38</span></div>
            <div class="stattextinfo">Project Cancel</div>
            <img src="img/adarea.png " class="margintop">
        </div>
        <!-- 
         <div class='pfcontentnew' ng-if="stateurl=='app.search1'">
            <div class="infocontainer">
               <div><span class="iconholder"><i class="fa fa-user"></i></span><span class="textholder">Services</span></div>
               <div><span class="iconholder">&nbsp;</span><span class="dataholder">{{counts.servicecount}}</span></div>
            </div>
            <div class="infocontainer">
               <div><span class="iconholder"><i class="fa fa-cube"></i></span><span class="textholder">Events</span></div>
               <div><span class="iconholder">&nbsp;</span><span class="dataholder">{{counts.eventcount}} </span></div>
            </div>
            <div class="infocontainer">
               <div><span class="iconholder"><i class="fa fa-trello"></i></span><span class="textholder">Shops</span></div>
               <div><span class="iconholder">&nbsp;</span><span class="dataholder">{{counts.shopcount}}</span></div>
            </div>
            <div class="infocontainer">
               <div><span class="iconholder"><i class="fa fa-trello"></i></span><span class="textholder">Rental</span></div>
               <div><span class="iconholder">&nbsp;</span><span class="dataholder">{{counts.rentalcount}}</span></div>
            </div>
            <div class="infocontainer">
               <div><span class="iconholder"><i class="fa fa-users"></i></span><span class="textholder">Members </span></div>
               <div><span class="iconholder">&nbsp;</span><span class="dataholder">{{counts.usercount}} </span></div>
            </div>
         </div> -->
    </div>
</div>