<div class="right-sidebar" ng-if="stateurl=='app.usermain'">

    <div class="right-wrapper">
        <div class="right-title">
            <h4 class="text-uppercase">{{user.xprank.rankname}} </h4>
            <img class="rank-icon" ng-src="{{IMGURL}}{{user.xprank.icon}}" height="20px">
        </div>
        <div class="right-content">
            <div class="chart-holder">
                <div class="stats">STATS</div>
                <div class="xp">XP</div>
                <canvas id="doughnut" class="chart chart-doughnut" chart-options="ChartOptions" chart-data="chartdata" chart-colors="Colors" chart-labels="labels" width="100%" height="100%"> </canvas>
            </div>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="right-title">
            <h4>Weekly Summary</h4>
        </div>
        <div class="right-content">
            <ul class="member-list">
                <li>
                    <a>
                        <div class="list-left">
                            <h5>16 / 24</h5>
                            <p>Completed Projects</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>9 / 12</h5>
                            <p>Projects Ongoing</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>84 / 216</h5>
                            <p>Projects Pending</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>2 / 38</h5>
                            <p>Projects Cancel</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="ads">
            <img src="../assets/img/ads.png" />
        </div>
    </div>
</div>

<div class="right-sidebar" ng-if="stateurl=='app.myfriends' || stateurl=='app.userchats' || stateurl=='app.userchat' || stateurl=='app.feedchat'">

    <div class="right-wrapper">
        <div class="right-title-new">
            <button type="button" class="btn success-btn block-btn" ng-click="openCollaborateModal();">Create Group</button>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="right-title">
            <h4>Followers</h4>
        </div>
        <div class="right-content">
            <ul class="member-list">
                <li ng-repeat="(key,user) in friendsandfollowers.followers" ui-sref="app.viewuser({'id':user.id})">
                    <a>
                        <div class="list-left">
                            <h5>{{user.username | cut:true:10:''}}</h5>
                            <p>{{user.profession}}</p>
                        </div>
                        <div class="list-right">
                            <img ng-src="{{IMGURL}}{{user.avatar}}" />
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

        <div class="right-wrapper">
        <div class="right-title">
            <h4>Recent Members</h4>
        </div>
        <div class="right-content">
            <ul class="member-list">
                <li ng-repeat="(key,user) in friendsandfollowers.friends" ui-sref="app.viewuser({'id':user.id})">
                    <a>
                        <div class="list-left">
                            <h5>{{user.username | cut:true:10:''}}</h5>
                            <p>{{user.profession}}</p>
                        </div>
                        <div class="list-right">
                            <img ng-src="{{IMGURL}}{{user.avatar}}" />
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="right-sidebar" ng-if="stateurl=='app.mydashboard' || stateurl=='app.viewuser'">
    <div class="right-wrapper">
        <div class="right-title">
            <h4 ><h4 class="text-uppercase">{{user.xprank.rankname}} </h4> </h4>
            <img class="rank-icon" ng-src="{{IMGURL}}{{user.xprank.icon}}" height="20px">
        </div>
        <div class="right-content">
            <div class="chart-holder">
                <div class="stats">STATS</div>
                <div class="xp">XP</div>
                <canvas id="doughnut" class="chart chart-doughnut" chart-options="ChartOptions" chart-data="chartdata" chart-colors="Colors" chart-labels="labels" width="100%" height="100%"> </canvas>
            </div>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="right-title">
            <h4>Recent Members</h4>
        </div>
        <div class="right-content">
            <ul class="member-list">
                <li ng-repeat="(key,user) in friendsandfollowers.friends" ui-sref="app.viewuser({'id':user.id})">
                    <a>
                        <div class="list-left">
                            <h5>{{user.username | cut:true:10:''}}</h5>
                            <p>{{user.profession}}</p>
                        </div>
                        <div class="list-right">
                            <img ng-src="{{IMGURL}}{{user.avatar}}" />
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="right-title">
            <h4>Followers</h4>
        </div>
        <div class="right-content">
            <ul class="member-list">
                <li ng-repeat="(key,user) in friendsandfollowers.followers" ui-sref="app.viewuser({'id':user.id})">
                    <a>
                        <div class="list-left">
                            <h5>{{user.username | cut:true:10:''}}</h5>
                            <p>{{user.profession}}</p>
                        </div>
                        <div class="list-right">
                            <img ng-src="{{IMGURL}}{{user.avatar}}" />
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="right-sidebar" ng-if="stateurl == 'app.notification' || stateurl == 'app.chats' || stateurl == 'app.wishlist' || stateurl == 'app.projectlist' || stateurl == 'app.projectdetails' || stateurl == 'app.feeds' || stateurl == 'app.todos' || stateurl == 'app.viewtodo' || stateurl == 'app.viewfeed' || stateurl == 'app.howitworks' || stateurl == 'app.rewardsandbenefits'">

    <div class="right-wrapper">
        <div class="right-title">
            <button type="button" class="btn success-btn block-btn" ng-click="openRequestModal();" ng-if="stateurl != 'app.projectdetails'">Post Request</button>
            <button type="button" class="btn success-btn block-btn" ng-click="openRequestModal();" ng-if="stateurl == 'projectdetails' && projectData.owner.id != user.id">Post Request</button>
            <button type="button" class="btn success-btn block-btn" ng-click="editProject();" ng-if="stateurl == 'projectdetails' && projectData.owner.id == user.id">Edit Project</button>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="right-no-project">

            <div class="empty-msg">
                <div class="msg-top">
                    <i class="fa fa-info-circle"></i>
                    <p>Having issues with Project? Visit the Resolution Center</p>
                </div>
                <div class="msg-bottom">
                    <p>Review the completed project to earn extra Xperience Points!</p>
                </div>
            </div>

            <div class="msg-post"  ui-sref="app.chats">
                <img src="../assets/img/chat-icon.png" alt="message" />
            </div>

        </div>
    </div>
</div>

<div class="right-sidebar" ng-if="stateurl == 'app.search'">

    <div class="right-wrapper">
        <div class="right-title-new">
            <h2>{{counts.overallcount}} </h2>
            <h5>Total Listings</h5>
        </div>
    </div>

    <div class="right-wrapper">
        <div class="right-title">
            <h4>Listings</h4>
        </div>
        <div class="right-content">
            <ul class="member-list">
                <li>
                    <a>
                        <div class="list-left">
                            <h5>{{counts.servicecount}}</h5>
                            <p>Service</p>
                        </div>
                        <div class="list-right self-top">
                            <div class="icon-holder">
                                <img src="../assets/img/right-icon.png" />
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>{{counts.shopcount}}</h5>
                            <p>Product</p>
                        </div>
                        <div class="list-right self-top">
                            <div class="icon-holder">
                                <img src="../assets/img/right-icon.png" />
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>{{counts.rentalcount}}</h5>
                            <p>Rental</p>
                        </div>
                        <div class="list-right self-top">
                            <div class="icon-holder">
                                <img src="../assets/img/right-icon.png" />
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>{{counts.eventcount}}</h5>
                            <p>Events</p>
                        </div>
                        <div class="list-right self-top">
                            <div class="icon-holder">
                                <img src="../assets/img/right-icon.png" />
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>{{counts.usercount}}</h5>
                            <p>Members</p>
                        </div>
                        <div class="list-right self-top">
                            <div class="icon-holder">
                                <img src="../assets/img/right-icon.png" />
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>{{counts.dealsmade}}</h5>
                            <p>Deals Made</p>
                        </div>
                        <div class="list-right self-top">
                            <div class="icon-holder">
                                <img src="../assets/img/right-icon.png" />
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="list-left">
                            <h5>{{counts.conversationcount}}</h5>
                            <p>Conversations</p>
                        </div>
                        <div class="list-right self-top">
                            <div class="icon-holder">
                                <img src="../assets/img/right-icon.png" />
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="right-sidebar" ng-if="stateurl == 'app.viewitem' || stateurl == 'app.productchat'">
            
            <div class="right-wrapper">
                <div class="right-title">
                    <!-- <button type="button" class="btn unfollow-btn block-btn" ng-click="changefollowstatus();" ng-if="(viewData.owner.id != user.id) && (!viewData.commisionData)"><i class="fa" ng-class="viewData.isfollow ? 'fa-user-times':'fa-user-plus'" title="Follow"></i> {{ viewData.isfollow ? 'UnFollow':'Follow'}}</button> -->

                    <button class="btn success-btn block-btn" ng-click="editRequest();" ng-if="(viewData.owner.id == user.id)&&(viewData.is_request)"> Edit Request</button>

                    <button type="button" class="btn success-btn block-btn" ng-click="editProduct();" ng-if="(viewData.owner.id == user.id)&&(!viewData.is_request)"> Edit {{(viewData.type == 'Service' ? 'Service' : (viewData.type == 'Shop' ? 'Product' : viewData.type == 'Rental' ? 'Rental' : viewData.type == 'Event' ? 'Event': viewData.type))}}</button>

                    <button type="button" class="btn success-btn block-btn" ng-click="editProduct();" ng-if="(viewData.owner.id != user.id)&&(!viewData.commisionData)"> {{ (viewData.type == 'Service' ? 'Commission' : (viewData.type == 'Shop' ? 'Order Now' : viewData.type == 'Rental' ? 'Book Now' : viewData.type == 'Event' ? 'Register Now': viewData.type))  }}</button>

                    <button class="btn success-btn block-btn" ng-click="showCommision();" ng-if="(viewData.owner.id != user.id)&&(viewData.commisionData)"> View  {{ (viewData.type == 'Service' ? 'Commisioned' : (viewData.type == 'Shop' ? 'Order' : viewData.type == 'Rental' ? 'Booked' : viewData.type == 'Event' ? 'Registered': viewData.type))  }}</button>
                </div>
            </div>

            <div class="right-wrapper">
                <div class="right-no-project">   
                    <div class="msg-top" ng-if="viewData.ownerproducts.length > 0">
                        <h5 class="msg-title"><img src="../assets/img/other-work.png" /> Other Works</h5>
                        <ul>
                            <li ng-repeat="(key,data) in viewData.ownerproducts | limitTo: 2" background-image="{{data.images[0].filetype == 1 ? IMGURL : ''}}{{data.images[0].thumbnail}}">
                            </li>
                        </ul>
                    </div>

                    <div class="post-content">
                        <ul class="member-list">
                            <li>
                                <a>
                                    <div class="list-left">
                                        <h5>Singapore</h5>
                                    </div>
                                    <div class="list-right">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="list-left">
                                        <h5>{{convertDate(viewData.created_at) | dateToISO | date:'dd.MM.yy'}}</h5>
                                    </div>
                                    <div class="list-right">
                                        <p>Date</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="list-left">
                                        <h5>{{viewData.owner.followers}}</h5>
                                    </div>
                                    <div class="list-right">
                                        <p>Followers</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="list-left">
                                        <h5>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </h5>
                                    </div>
                                    <div class="list-right">
                                        <p>Appreciation</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="list-left">
                                        <h5>{{viewData.noofviews}}</h5>
                                    </div>
                                    <div class="list-right">
                                        <i class="fa fa-eye"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="list-left">
                                        <h5>{{convertDate(viewData.owner.created_at) | dateToISO | date:'dd.MM.yy'}}</h5>
                                    </div>
                                    <div class="list-right">
                                        <p>Joined</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="msg-post" ng-click="goprochat();">
                        <img src="../assets/img/chat-icon.png" alt="message" />                 
                    </div>

                </div>
            </div>
</div>