<div class="custom-modal-title modal-danger">
    <div class="row flex-center">
        <div class="col-lg-12 col-md-12">
            <h3>Reject Offer!</h3>
        </div>
    </div>
</div>
<!-- Modal body -->
<div class="custom-modal-body">
    <div class="row">
        <div class="col-lg-4 col-md-4 br-1">
            <div class="modal-left">
                <p class="secondary">You have rejected the job offer from the {{user.id == ResponseData.buyerid ? 'Seller' : 'Buyer'}}. Please indicate the reason for your decision. Thank you. </p>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3>Reason For Rejection</h3>
                        <span class="text-danger" ng-if="productData.status == 2 && !ResponseData.reason">* Select reason</span>
                        <div class="form-group mt-20">
                            <input class="magic-radio" type="radio" name="reason" id="magic-radio1" ng-model="ResponseData.reason" value="Unable to meet Buyer request" />
                            <label class="text" for="magic-radio1">Unable to meet Buyer Request</label>
                        </div>
                        <div class="form-group">
                            <input class="magic-radio" type="radio" name="reason" id="magic-radio2" ng-model="ResponseData.reason" value="Overwhelmed with Projects" />
                            <label class="text" for="magic-radio2">Overwhelmed with Projects</label>
                        </div>
                        <div class="form-group">
                            <input class="magic-radio" type="radio" name="reason" id="magic-radio3" ng-model="ResponseData.reason" value="Going on vacation" />
                            <label class="text" for="magic-radio3">Going on Vacation</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="modal-right">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Other comments (optional)</label>
                            <textarea class="form-control" name="comments" rows="9" placeholder="Description" ng-model="ResponseData.comments"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal footer -->
<div class="custom-modal-footer text-right bt-1 pt-30">
    <button type="button" class="btn danger-btn" ng-click="cancelRequest()">Cancel </button>
    <button type="button" class="btn success-btn ml-30" ng-disabled="!ResponseData.reason" ng-click="rejectOffer();">Proceed </button>
    <button type="button" class="btn btn-svg secondary-btn-border ml-30" ng-click="gotoChat(ResponseData.id)">View Details</button>
</div>