<div class="custom-modal-title" ng-class="{'modal-warning': ResponseData.commisionitem.has_bargained, 'modal-primary': user.id == ResponseData.buyer.id, 'modal-green': user.id == ResponseData.owner.id && !ResponseData.commisionitem.has_bargained}">
   <div class="row flex-center" ng-if="(user.id == ResponseData.owner.id)">
      <div class="col-lg-6 col-md-6" ng-if="(user.id != ResponseData.commisionitem.userid)">
         <h3 ng-if="!ResponseData.commisionitem.has_bargained">{{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'You have been commissioned!' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'Order received' : ResponseData.commisionitem.productdetails.type == 'Event' ? 'Someone
            has registered for your event' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'Someone has made a booking' : ResponseData.commisionitem.productdetails.type) }}
         </h3>
         <h3 ng-if="ResponseData.commisionitem.has_bargained">{{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'Some one likes to negotiate your service' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'Some one likes to negotiate your product' : ResponseData.commisionitem.productdetails.type
            == 'Event' ? 'Some one likes to negotiate to register your event' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'Some one likes to negotiate to made a booking' : ResponseData.commisionitem.productdetails.type) }}
         </h3>
      </div>
      <div class="col-lg-6 col-md-6" ng-if="(user.id == ResponseData.commisionitem.userid)">
         <h3>{{ ResponseData.commisionitem.mytotalcounters == 1 ? 'Your respond has been sent successfully' : 'Request has been amended' }}</h3>
      </div>
      <div class="col-lg-6 col-md-6">
         <h3><i class="fa fa-minus-square-o pull-right" ng-click="closeModal()"></i></h3>
      </div>
   </div>
   <div class="row flex-center" ng-if="(user.id == ResponseData.buyer.id)">
      <div class="col-lg-6 col-md-6" ng-if="(user.id != ResponseData.commisionitem.userid)">
         <h3 ng-if="!ResponseData.commisionitem.has_bargained">{{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'Your request for service have been sent. Awaiting confirmation ' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'Your order have been sent. Awaiting confirmation'
            : ResponseData.commisionitem.productdetails.type == 'Event' ? 'You have registered for an event. Awaiting confirmation' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'You have made booking. Awaiting confirmation' : ResponseData.commisionitem.productdetails.type)
            }}
         </h3>
         <h3 ng-if="ResponseData.commisionitem.has_bargained">{{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'Your negotiation request has been sent' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'Your negotiation request has been sent' : ResponseData.commisionitem.productdetails.type
            == 'Event' ? 'Your negotiation request has been sent' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'Your negotiation request has been sent' : ResponseData.commisionitem.productdetails.type) }}
         </h3>
      </div>
      <div class="col-lg-6 col-md-6" ng-if="(user.id == ResponseData.commisionitem.userid)">
         <h3 ng-if="!ResponseData.commisionitem.has_bargained">{{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'Your request for service have been sent. Awaiting confirmation' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'Your order have been sent. Awaiting confirmation'
            : ResponseData.commisionitem.productdetails.type == 'Event' ? 'You have registered for an event. Awaiting confirmation' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'You have made booking. Awaiting confirmation' : ResponseData.commisionitem.productdetails.type)
            }}
         </h3>
         <h3 ng-if="ResponseData.commisionitem.has_bargained">{{ ResponseData.commisionitem.mytotalcounters == 1 ? 'Your negotiation request has been sent' : 'Your amended request has been sent' }}</h3>
      </div>
      <div class="col-lg-6 col-md-6">
         <h3><i class="fa fa-minus-square-o pull-right" ng-click="closeModal()"></i></h3>
      </div>
   </div>
</div>
<!-- Modal body -->
<div class="custom-modal-body">
   <div class="row mb-30">
      <div class="col-lg-12 col-md-12" ng-if="user.id == ResponseData.owner.id">
         <div ng-if="user.id != ResponseData.commisionitem.userid">
            <div class="modal-second-title">
               <div ng-if="!ResponseData.commisionitem.has_bargained"><span>{{ResponseData.buyer.username}} </span> {{ (ResponseData.commisionitem.productdetails.type == 'Service' ? ' Is waiting for your service confirmation' : ResponseData.commisionitem.productdetails.type == 'Shop' ? ' Is waiting for
                  your confirmation' : ResponseData.commisionitem.productdetails.type == 'Event' ? ' Is waiting for your confirmation' :ResponseData.commisionitem.productdetails.type == 'Rental' ? ' Is waiting for your confirmation' : ResponseData.commisionitem.productdetails.type)
                  }}
               </div>
               <div ng-if="ResponseData.commisionitem.has_bargained"> <span>{{ResponseData.buyer.username}} </span> {{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'Would like to negotiate for this Service' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'Would like to
                  negotiate for this Product' : ResponseData.commisionitem.productdetails.type == 'Event' ? ' Would like to negotiate for this Event' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'Would like to negotiate for this
                  Booking' : ResponseData.commisionitem.productdetails.type) }}
               </div>
            </div>
         </div>
         <div ng-if="user.id == ResponseData.commisionitem.userid">
            <div class="modal-second-title">
               <div ng-if="ResponseData.commisionitem.has_bargained">{{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'Awaiting respond from ' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'Awaiting respond from ' : ResponseData.commisionitem.productdetails.type == 'Event'
                  ? 'Awaiting respond from ' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'Awaiting respond from ' : ResponseData.commisionitem.productdetails.type) }} <span>{{ResponseData.buyer.username}} </span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-12 col-md-12" ng-if="user.id == ResponseData.buyer.id">
         <div ng-if="user.id != ResponseData.commisionitem.userid">
            <div class="modal-second-title">
               <div ng-if="!ResponseData.commisionitem.has_bargained"><span>{{ResponseData.buyer.username}}</span> {{ (ResponseData.commisionitem.productdetails.type == 'Service' ? ' would like to request for this service' : ResponseData.commisionitem.productdetails.type == 'Shop' ? ' would like to purchase
                  this item' : ResponseData.commisionitem.productdetails.type == 'Event' ? ' would like to register this your event' :ResponseData.commisionitem.productdetails.type == 'Rental' ? ' would like to made a booking' : ResponseData.commisionitem.productdetails.type)
                  }}
               </div>
               <div ng-if="ResponseData.commisionitem.has_bargained"> {{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'You would like to negotiate for your service with ' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'You would like to negotiate for your product with
                  ' : ResponseData.commisionitem.productdetails.type == 'Event' ? 'You would like to negotiate to register your event with ' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'You would like to negotiate for a booking
                  with ' : ResponseData.commisionitem.productdetails.type) }} <span>{{ResponseData.buyer.username}} </span>
               </div>
            </div>
         </div>
         <div ng-if="user.id == ResponseData.commisionitem.userid">
            <div class="modal-second-title">
               <div ng-if="!ResponseData.commisionitem.has_bargained"> {{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'Awaiting for ' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'You would like to purchase the item of ' : ResponseData.commisionitem.productdetails.type
                  == 'Event' ? 'You would like to register event of ' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'You would like to book rental of ' : ResponseData.commisionitem.productdetails.type) }}<span>{{ResponseData.owner.username}}</span>
               </div>
               <div ng-if="ResponseData.commisionitem.has_bargained"> {{ (ResponseData.commisionitem.productdetails.type == 'Service' ? 'Awaiting respond from ' : ResponseData.commisionitem.productdetails.type == 'Shop' ? 'Awaiting respond from ' : ResponseData.commisionitem.productdetails.type == 'Event'
                  ? 'Awaiting respond from ' :ResponseData.commisionitem.productdetails.type == 'Rental' ? 'Awaiting respond from ' : ResponseData.commisionitem.productdetails.type) }} <span>{{ResponseData.owner.username}}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-4 col-md-4 br-1">
         <div class="modal-left">
            <div class="notes" ng-if="ResponseData.status == 0 && !ResponseData.isreject && (user.id != ResponseData.commisionitem.userid)">
               <div class="custom-tooltip tooltip-right tooltip-bottom" ng-if="checkError">
                  <div class="custom-tooltip-inner">
                     You Need to agree TSA Protection rules!
                  </div>
               </div>
               <p>NOTE: The is a <span class="success bold">Tripartite Standard Agreement</span> form to protect both parties against any issues in the future. Read for more info <span class="success bold">here</span>.</p>
               <div class="form-group mt-30 mb-0">
                  <input class="magic-checkbox" type="checkbox" name="isaccept" id="note" ng-true-value="1" ng-false-value="0" ng-model="ResponseData.agreeterms" required/>
                  <label class="text font-s" for="note" tooltip="{{categoryText}}">Read and agreed to the TSA Protection Scheme</label>
               </div>
            </div>
            <div class="slider-wrapper" ng-class="{'mt-30' : ResponseData.status == 0 && !ResponseData.isreject && (user.id != ResponseData.commisionitem.userid)}">
               <div class="custom-slider mob-slider">
                  <slick data="popupcarouselItems" infinite="false" init-onload="false" settings="popupslick" class="slider-for">
                     <div class="width100 sliderframer" ng-repeat="(key,image) in popupcarouselItems">
                        <div class="imgcontainer" background-image="{{image.filetype == 1 ? IMGURL : ''}}{{image.file}}">
                           <span ng-if="image.filetype == 2">
                              <anguvideo ng-model="image.file" width="100%" height="auto" ng-if="image.file&&!image.file.includes('soundcloud')" id="{{image.file.includes('youtu') ? 'youtube' : 'vimeo'}}{{key}}"></anguvideo>
                              <sound-cloud-player url="{{image.file}}" class="m-t-sm" ng-if="image.file&&image.file.includes('soundcloud')" id="soundcloud{{key}}"></sound-cloud-player>
                           </span>
                        </div>
                     </div>
                  </slick>
                  <div class="thumbslider">
                     <slick data="popupcarouselItems" init-onload="true" settings="popupthumbslick" class="slider-nav">
                        <div class="thumbholder" ng-repeat="(key,image) in popupcarouselItems">
                           <div class="slidee" background-image="{{image.filetype == 1 ? IMGURL : ''}}{{image.thumbnail}}"></div>
                        </div>
                     </slick>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-8 col-md-8">
         <div class="modal-right">
            <div class="row mb-30">
               <div class="col-lg-12 col-md-12">
                  <h4 class="black">{{ResponseData.commisionitem.productdetails.title}}</h4>
                  <p class="secondary mt-10">{{ResponseData.commisionitem.productdetails.description}}</p>
               </div>
            </div>
            <div class="noCounterData">
               <div class="row" ng-if="ResponseData.commisionitem.productdetails.type == 'Service'">
                  <div class="col-lg-4 col-md-4" ng-if="ResponseData.commisionitem.productdetails.location">
                     <div class="form-group">
                        <label class="control-label">Location</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-map-marker mr-10"></i> {{ResponseData.commisionitem.productdetails.location}}
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4" ng-if="ResponseData.commisionitem.productdetails.profession && !ResponseData.commisionitem.productdetails.is_request">
                     <div class="form-group">
                        <label class="control-label">Skill</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-th mr-10"></i> {{ResponseData.commisionitem.productdetails.profession}}
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4" ng-if="ResponseData.commisionitem.productdetails.is_request"  ng-if="!ResponseData.iscounter">
                     <div class="form-group">
                        <label class="control-label">Deadline</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-map-marker mr-10"></i> {{ResponseData.commisionitem.productdetails.deadline | date:"dd-MM-yyyy"}}
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4" ng-if="ResponseData.commisionitem.productdetails.is_request">
                     <div class="form-group">
                        <label class="control-label">Category</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-th mr-10"></i> {{ResponseData.commisionitem.productdetails.request_category}}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" ng-if="ResponseData.commisionitem.productdetails.type == 'Shop'">
                  <div class="col-lg-5 col-md-5">
                     <div class="form-group">
                        <label class="control-label">Category</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-th-large mr-10"></i> {{ResponseData.commisionitem.productdetails.productcategory.categoryname}}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" ng-if="ResponseData.commisionitem.productdetails.type == 'Event'"  ng-if="!ResponseData.iscounter">
                  <div class="col-lg-3 col-md-3" ng-if="ResponseData.commisionitem.productdetails.startdate">
                     <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-calendar mr-10" ng-if="!ResponseData.commisionitem.productdetails.alldayevent"></i> {{ResponseData.commisionitem.productdetails.alldayevent ? 'Every Day': (ResponseData.commisionitem.productdetails.startdate
                           | date:"dd-MM-yyyy")}}
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3" ng-if="ResponseData.commisionitem.productdetails.enddate">
                     <div class="form-group">
                        <label class="control-label">End Date</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-calendar mr-10" ng-if="!ResponseData.commisionitem.productdetails.alldayevent"></i> {{ResponseData.commisionitem.productdetails.alldayevent ? 'Every Day': (ResponseData.commisionitem.productdetails.enddate
                           | date:"dd-MM-yyyy")}}
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        <label class="control-label">Start Time</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-clock-o mr-10"></i> {{ResponseData.commisionitem.productdetails.starttime}}
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        <label class="control-label">End Time</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-clock-o mr-10"></i> {{ResponseData.commisionitem.productdetails.endtime}}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" ng-if="ResponseData.commisionitem.productdetails.type == 'Rental'"  ng-if="!ResponseData.iscounter">
                  <div class="col-lg-3 col-md-3" ng-if="ResponseData.commisionitem.productdetails.startdate">
                     <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-calendar mr-10" ng-if="!ResponseData.commisionitem.productdetails.alldayevent"></i> {{ResponseData.commisionitem.productdetails.startdate | date:"dd-MM-yyyy"}}
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3" ng-if="ResponseData.commisionitem.productdetails.enddate">
                     <div class="form-group">
                        <label class="control-label">End Date</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-calendar mr-10" ng-if="!ResponseData.commisionitem.productdetails.alldayevent"></i> {{ResponseData.commisionitem.productdetails.enddate | date:"dd-MM-yyyy"}}
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        <label class="control-label">Location</label>
                        <div class="btn block-btn gray-btn">
                           <i class="fa fa-map-marker mr-10"></i> {{ResponseData.commisionitem.productdetails.location}}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row mt-30" ng-if="!ResponseData.iscounter">
                  <div class="col-lg-12 col-md-12">
                     <div class="price-group">
                        <span class="price">
                        {{ResponseData.commisionitem.productdetails.price ? ('$' + ResponseData.commisionitem.productdetails.price): 'Free'}}
                        </span>
                        <span class="price-sub" ng-if="ResponseData.commisionitem.productdetails.price > 0 && ResponseData.commisionitem.productdetails.type!='Shop'">  Per {{ResponseData.commisionitem.productdetails.periodtype}} </span>
                     </div>
                  </div>
               </div>
               <div class="row mt-30" ng-if="ResponseData.status == 2 && ResponseData.comments">
                  <div class="col-lg-12 col-md-12">
                     <p class="secondary mt-30">{{ResponseData.comments}}</p>
                  </div>
               </div>
            </div>
            <div class="counterData" ng-if="ResponseData.iscounter">
               <div class="form-row mt-30 mb-0" ng-if="ResponseData.commisionitem.productdetails.type == 'Service'">
                  <div class="form-column flex-top-space">
                     <div class="form-group wd-100">
                        <label class="control-label">Location</label>
                        <ui-select name="location" ng-model="ResponseData.location" theme="bootstrap" search-enabled="false" onkeypress="return false;" onfocus="blur();">
                           <ui-select-match allow-clear="true" class="selected-item wd-auto float-lt">
                              <p>
                                 <!-- <i class="fa fa-circle-o"></i>  -->{{ResponseData.location ? ResponseData.location : 'Select Location'}}
                              </p>
                           </ui-select-match>
                           <ui-select-choices class="default-select-items" repeat="location in locations">
                              <span ng-bind-html="location | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                  </div>
                  <div class="form-column flex-top-space ml-30">
                     <div class="form-group wd-100">
                        <label class="control-label">Skills</label>
                        <ui-select name="profession" ng-model="ResponseData.profession" theme="bootstrap" search-enabled="false" ng-required="ResponseData.commisionitem.productdetails.type=='Service'" onkeypress="return false;" onfocus="blur();">
                           <ui-select-match allow-clear="true" class="selected-item wd-auto float-lt">
                              <p>
                                 <!-- <i class="fa fa-circle-o"></i>  -->{{ResponseData.profession ? ResponseData.profession : 'Select Skill'}}
                              </p>
                           </ui-select-match>
                           <ui-select-choices class="default-select-items" repeat="profession in professions">
                              <span ng-bind-html="profession | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                        <span class="error error-text" ng-if="skillerror">Select Skill</span>
                     </div>
                  </div>
                  <div class="form-column flex-top-space ml-30">
                     <div class="form-group wd-100">
                        <label class="control-label">Price</label>
                        <input type="text" class="form-control input-with-icon" placeholder="0.00" name="price" ng-model="ResponseData.price" required min="1" max="100000" limit-to-max step="0.01" valid-number precision="2" />
                        <span class="input-icon">
                        <i class="fa fa-lg fa-dollar"></i>
                        </span>
                        <span class="error error-text" ng-if="priceerror">Enter Price</span>
                     </div>
                  </div>
                  <div class="form-column flex-top-space ml-30">
                     <div class="form-group wd-100">
                        <label class="control-label">&nbsp;</label>
                        <ui-select name="periodtype" ng-model="ResponseData.periodtype" theme="bootstrap" search-enabled="false" onkeypress="return false;" onfocus="blur();">
                           <ui-select-match allow-clear="true" class="selected-item wd-auto float-lt">
                              <p>
                                 <!-- <i class="fa fa-circle-o"></i>  -->{{ResponseData.periodtype ? ResponseData.periodtype : 'Select Period Type'}}
                              </p>
                           </ui-select-match>
                           <ui-select-choices class="default-select-items" repeat="periodtype in periodtypes">
                              <span ng-bind-html="periodtype | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                  </div>
               </div>
               <div class="form-row mt-30 mb-0" ng-if="ResponseData.commisionitem.productdetails.type == 'Shop'">
                  <div class="form-column flex-top-space">
                     <div class="form-group wd-100">
                        <label class="control-label">Price</label>
                        <input type="text" class="form-control input-with-icon" placeholder="0.00" name="price" ng-model="ResponseData.commisionitem.productdetails.price" required min="1" max="100000" limit-to-max step="0.01" valid-number precision="2" />
                        <span class="input-icon">
                        <i class="fa fa-lg fa-dollar"></i>
                        </span>
                        <span class="error error-text" ng-if="priceerror">Enter Price</span>
                     </div>
                  </div>
               </div>
               <div class="form-row mt-30 mb-0" ng-if="ResponseData.commisionitem.productdetails.type == 'Rental'">
                  <div class="form-column flex-top-space">
                     <div class="form-group wd-100">
                        <label class="control-label">Location</label>
                        <ui-select name="location" ng-model="ResponseData.commisionitem.productdetails.location" theme="bootstrap" search-enabled="false" onkeypress="return false;" onfocus="blur();">
                           <ui-select-match allow-clear="true" class="selected-item float-lt">
                              <p>{{ResponseData.commisionitem.productdetails.location ? ResponseData.commisionitem.productdetails.location : 'Select Location'}}</p>
                           </ui-select-match>
                           <ui-select-choices repeat="location in locations">
                              <span ng-bind-html="location | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                  </div>
                  <div class="form-column flex-top-space">
                     <div class="form-group wd-100">
                     </div>
                  </div>
                  <div class="form-column flex-top-space ml-30">
                     <div class="form-group wd-100">
                        <label class="control-label">Price</label>
                        <input type="text" class="form-control input-with-icon" placeholder="0.00" name="price" ng-model="ResponseData.commisionitem.productdetails.price" required min="1" max="100000" limit-to-max step="0.01" valid-number precision="2" />
                        <span class="input-icon">
                        <i class="fa fa-lg fa-dollar"></i>
                        </span>
                        <span class="error error-text" ng-if="priceerror">Enter Price</span>
                     </div>
                  </div>
                  <div class="form-column flex-top-space ml-30">
                     <div class="form-group wd-100">
                        <label class="control-label">&nbsp;</label>
                        <ui-select name="periodtype" ng-model="ResponseData.periodtype" theme="bootstrap" search-enabled="false" onkeypress="return false;" onfocus="blur();">
                           <ui-select-match allow-clear="true" class="selected-item wd-auto float-lt">
                              <p>{{ResponseData.commisionitem.productdetails.periodtype ? ResponseData.commisionitem.productdetails.periodtype : 'Select Period Type'}}</p>
                           </ui-select-match>
                           <ui-select-choices repeat="periodtype in periodtypes">
                              <span ng-bind-html="periodtype | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                  </div>
               </div>
               <div class="form-row mt-30 mb-0" ng-if="ResponseData.commisionitem.productdetails.type == 'Event'">
                  <div class="form-column flex-top-space">
                     <div class="form-group">
                        <label class="control-label">Start date</label>
                        <datepicker date-format="dd/MM/yyyy" selector="form-control">
                           <input type="text" class="form-control input-with-icon" ng-model="ResponseData.productstartdate" placeholder="Start Date" name="startdate" ng-required="!ResponseData.hasstartdate" />
                           <span class="input-icon">
                           <i class="fa fa-lg fa-calendar"></i>
                           </span>
                        </datepicker>
                        <span class="error error-text" ng-if="startdateerror">Required</span>
                     </div>
                     <div class="form-group ml-15 pl-5">
                        <label class="control-label">NA</label>
                        <input class="magic-checkbox" type="checkbox" id="na" name="hasstartdate" ng-true-value="1" ng-false-value="0" ng-model="ResponseData.hasstartdate" ng-change="clearDate('start',ResponseData.hasstartdate);">
                        <label class="text" for="na"></label>
                     </div>
                  </div>
                  <div class="form-column flex-top-space ml-30">
                     <div class="form-group">
                        <label class="control-label">End date</label>
                        <datepicker date-format="dd/MM/yyyy" selector="form-control">
                           <input type="text" class="form-control input-with-icon" ng-model="ResponseData.productenddate" placeholder="End Date" name="enddate" ng-required="!ResponseData.hasenddate" required />
                           <span class="input-icon">
                           <i class="fa fa-lg fa-calendar"></i>
                           </span>
                        </datepicker>
                        <span class="error error-text" ng-if="enddateerror">Required</span>
                     </div>
                     <div class="form-group ml-15 pl-5">
                        <label class="control-label">NA</label>
                        <input class="magic-checkbox" type="checkbox" id="na1" name="hasenddate" ng-true-value="1" ng-false-value="0" ng-model="ResponseData.hasenddate" ng-change="clearDate('end',ResponseData.hasenddate);">
                        <label class="text" for="na1"></label>
                     </div>
                  </div>
                  <div class="form-column flex-center-space ml-30">
                     <div class="form-group">
                        <label class="control-label">Price</label>
                        <input type="text" class="form-control input-with-icon" placeholder="0.00" name="price" ng-model="ResponseData.price" required min="1" max="100000" limit-to-max step="0.01" valid-number precision="2" />
                        <span class="input-icon">
                        <i class="fa fa-lg fa-dollar"></i>
                        </span>
                        <span class="error error-text" ng-if="priceerror">Enter Price</span>
                     </div>
                  </div>
                  <div class="form-column flex-center-space ml-30">
                     <div class="form-group wd-100">
                        <label class="control-label">&nbsp;</label>
                        <ui-select name="periodtype" ng-model="ResponseData.periodtype" theme="bootstrap" search-enabled="false" onkeypress="return false;" onfocus="blur();">
                           <ui-select-match allow-clear="true" class="selected-item wd-auto float-lt">
                              <p>{{ResponseData.periodtype ? ResponseData.periodtype : 'Select Period Type'}}</p>
                           </ui-select-match>
                           <ui-select-choices class="default-select-items" repeat="periodtype in periodtypes">
                              <span ng-bind-html="periodtype | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                  </div>
               </div>
               <div class="form-row mt-30 mb-0" ng-if="ResponseData.commisionitem.productdetails.type">
                  <div class="form-column flex-center-space">
                     <div class="form-group wd-100" ng-if="ResponseData.commisionitem.productdetails.type == 'Event'">
                        <label class="control-label">From</label>
                        <ui-select name="starttime" ng-model="ResponseData.starttime" theme="bootstrap" search-enabled="false" onkeypress="return false;" onfocus="blur();">
                           <ui-select-match allow-clear="true" class="selected-item wd-auto float-lt">
                              <p>{{ResponseData.starttime ? ResponseData.starttime : 'Select StartTime'}}</p>
                           </ui-select-match>
                           <ui-select-choices class="default-select-items" repeat="starttime in times">
                              <span ng-bind-html="starttime | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                  </div>
                  <div class="form-column flex-center-space ml-30">
                     <div class="form-group wd-100" ng-if="ResponseData.commisionitem.productdetails.type == 'Event'">
                        <label class="control-label">To</label>
                        <ui-select name="endtime" ng-model="ResponseData.endtime" theme="bootstrap" search-enabled="false">
                           <ui-select-match allow-clear="true" class="selected-item wd-auto float-lt">
                              <p>{{ResponseData.endtime ? ResponseData.endtime : 'Select EndTime'}}
                              </p>
                           </ui-select-match>
                           <ui-select-choices class="default-select-items" repeat="endtime in times">
                              <span ng-bind-html="endtime | highlight: $select.search"></span>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Modal footer -->
<div class="custom-modal-footer text-right bt-1 pt-30" ng-if="!ResponseData.status">
   <div class="footer-btns" ng-if="!formLoading">
      <button type="button" class="btn danger-btn" ng-click="closeModal()" ng-if="(!ResponseData.iscounter && !ResponseData.isreject && !ResponseData.isacceptoffer  && !ResponseData.iscounter)">Close</button>
      <button class="btn danger-btn" ng-click="cancelRequest()" ng-if="ResponseData.status == 0 && (ResponseData.iscounter || ResponseData.isreject || ResponseData.isacceptoffer)">Cancel </button>
      <button type="button" class="btn success-btn ml-30" ng-click="proceedRequest()" ng-disabled="!ResponseData.iscounter && !ResponseData.isreject && !ResponseData.isacceptoffer" ng-if="ResponseData.status == 0 && (ResponseData.iscounter || ResponseData.isreject || ResponseData.isacceptoffer)">Proceed</button>
      <span class="action-btn ml-30" ng-if="!ResponseData.status && !ResponseData.isreplied && !ResponseData.isreject && !ResponseData.isacceptoffer && !ResponseData.iscounter && (user.id != ResponseData.commisionitem.userid)" ng-mouseover="showcheckTooltip();" ng-mouseleave="hidecheckTooltip();">
         <button type="button" class="btn silver-btn block-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
         <ul class="dropdown-menu" ng-if="!ResponseData.status && !ResponseData.isreplied && !ResponseData.isreject && !ResponseData.isacceptoffer">
            <li  ng-if="!ResponseData.isreject && !ResponseData.commisionitem.productdetails.hasbargain&&!ResponseData.iscounter"><button type="button" class="btn default-btn block-btn" ng-click="counterOffer()" ng-disabled="!ResponseData.agreeterms">Counter Offer</button></li>
            <li><button type="button" class="btn success-btn block-btn" ng-click="acceptOffer()" ng-disabled="!ResponseData.agreeterms">Accept Offer</button></li>
            <li ng-if="user.id == ResponseData.commisionitem.productdetails.ownerid"><button type="button" class="btn block-btn" ng-click="rejectOffer();" ng-disabled="!ResponseData.agreeterms" ng-class="!ResponseData.agreeterms ? 'default-btn' : 'danger-btn'">Reject Offer</button></li>
         </ul>
      </span>
      <button type="button" class="btn btn-svg secondary-btn-border ml-30" ng-click="gotoChat(ResponseData.id)" ng-if="!ResponseData.status && !ResponseData.isreject && !ResponseData.isacceptoffer  && !ResponseData.iscounter">View Details</button>
   </div>
</div>