<div ng-controller="HTMLComponentCtrl" class="usermain marginbottom10" style="min-height: 1200px">
   <div class="col-lg-2 col-sm-2 col-md-2 col-xs-22 col-sm-12 col-md-12 col-xs-12 ">
      <h3 class="text-left margintop10">Collabro Buttons</h3>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small">small</button>
      <button class="collabro_btn">regular</button>
      <button class="collabro_btn button-large">Large</button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small commision-button">small</button>
      <button class="collabro_btn commision-button">regular</button>
      <button class="collabro_btn commision-button button-large">Large</button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small chatnow-button">small</button>
      <button class="collabro_btn chatnow-button">regular</button>
      <button class="collabro_btn button-large chatnow-button">Large</button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small gradient-button">small</button>
      <button class="collabro_btn gradient-button">regular</button>
      <button class="collabro_btn button-large gradient-button">Large</button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small chatnow-button"><i class="fa fa-phone-square left" aria-hidden="true"></i>small</button>
      <button class="collabro_btn chatnow-button"><i class="fa fa-phone-square left" aria-hidden="true"></i>regular</button>
      <button class="collabro_btn button-large chatnow-button"><i class="fa fa-phone-square left" aria-hidden="true"></i>Large</button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small post-button">small<i class="fa fa-plus-circle right"></i></button>
      <button class="collabro_btn post-button">regular<i class="fa fa-plus-circle right"></i></button>
      <button class="collabro_btn button-large post-button">Large<i class="fa fa-plus-circle right"></i></button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small broadcast-button"><i class="fa fa-phone-square left" aria-hidden="true"></i>small</button>
      <button class="collabro_btn broadcast-button"><i class="fa fa-phone-square left" aria-hidden="true"></i>regular</button>
      <button class="collabro_btn button-large broadcast-button"><i class="fa fa-phone-square left" aria-hidden="true"></i>Large</button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small follow-button">small<i class="fa fa-user-plus right" aria-hidden="true"></i></button>
      <button class="collabro_btn follow-button">regular<i class="fa fa-user-plus right" aria-hidden="true"></i></button>
      <button class="collabro_btn button-large follow-button">Large<i class="fa fa-user-plus right" aria-hidden="true"></i></button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <button class="collabro_btn button-small border-chat"><i class="fa fa-phone-square left" aria-hidden="true"></i>small</button>
      <button class="collabro_btn border-chat"><i class="fa fa-phone-square left" aria-hidden="true"></i>regular</button>
      <button class="collabro_btn button-large border-chat"><i class="fa fa-phone-square left" aria-hidden="true"></i>Large</button>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <h3 class="text-left ">input and select buttons</h3>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding">
         <input type="tex" class="collabro-text-box" name="" placeholder="Text Box">
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
         <div class='add-on col-lg-12 col-sm-12 col-md-12 col-xs-12 no-padding date datepicker p_relative' 
            data-date-format="yyyy-mm-dd">
            <div class="input-group-btn">
               <button class="collabro_btn btn-default">
               <i class="fa fa-calendar"></i>
               </button>
            </div>
            <input name='name' value="" type="text" class="form-control date-picker" 
               data-date-format="yyyy-mm-dd"/>
         </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 ">
         <input type="tex" class="collabro-text-box" name="" placeholder="Text Box">
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 no-padding">
         <input type="tex" class="collabro-text-box" name="" placeholder="Text Box">
      </div>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 display margintop10">
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-3 no-padding">
         <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
         </select>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4 ">
         <select  class="button-width-100">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
         </select>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-5 no-padding">
         <select  class="button-width-100">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
         </select>
      </div>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 display margintop10">
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding">
         <button class="collabro_btn commision-button no-margin button-width-100">fullwidth</button>
      </div>
      <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4 ">
         <button class="collabro_btn commision-button no-margin button-width-100">fullwidth</button>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6 no-padding">
         <button class="collabro_btn commision-button no-margin button-width-100">fullwidth</button>
      </div>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-3">
         <div class="p_relative margintop10">
            <button  data-toggle="dropdown" aria-expanded="true" type="button" class="drop-menu">Action <i class="fa fa-angle-down right" aria-hidden="true"></i></button>
            <ul class="dropdown-menu ">
               <!-- ngIf: (!data.iscompared) && (comparedproducts.length < 3) -->
               <!-- ngIf: data.iscompared -->
               <li ng-if="data.iscompared" class="ng-scope"><a ng-click="changeiscompared(key,data)">Remove Compare</a></li>
               <!-- end ngIf: data.iscompared -->
               <li><a ng-click="removefromwish(data)">Remove Item</a></li>
            </ul>
         </div>
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-3">
         <div class="p_relative margintop10 ">
            <button  data-toggle="dropdown" aria-expanded="true" type="button" class="drop-menu-no-background">Action <i class="fa fa-angle-down right" aria-hidden="true"></i></button>
            <ul class="dropdown-menu ">
               <!-- ngIf: (!data.iscompared) && (comparedproducts.length < 3) -->
               <!-- ngIf: data.iscompared -->
               <li ng-if="data.iscompared" class="ng-scope"><a ng-click="changeiscompared(key,data)">Remove Compare</a></li>
               <!-- end ngIf: data.iscompared -->
               <li><a ng-click="removefromwish(data)">Remove Item</a></li>
            </ul>
         </div>
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-3">
         <div class="p_relative margintop10 display_inline_block">
            <button  data-toggle="dropdown" aria-expanded="true" type="button" class="drop-menu">Action <i class="fa fa-angle-down right" aria-hidden="true"></i></button>
            <ul class="dropdown-menu dropdown-right ">
               <!-- ngIf: (!data.iscompared) && (comparedproducts.length < 3) -->
               <!-- ngIf: data.iscompared -->
               <li ng-if="data.iscompared" class="ng-scope"><a ng-click="changeiscompared(key,data)">Remove Compare</a></li>
               <!-- end ngIf: data.iscompared -->
               <li><a ng-click="removefromwish(data)">Remove Item</a></li>
            </ul>
         </div>
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-3">
         <div class="p_relative margintop10 display_inline_block">
            <button  data-toggle="dropdown" aria-expanded="true" type="button" class="drop-menu-no-background">Action <i class="fa fa-angle-down right" aria-hidden="true"></i></button>
            <ul class="dropdown-menu dropdown-right">
               <!-- ngIf: (!data.iscompared) && (comparedproducts.length < 3) -->
               <!-- ngIf: data.iscompared -->
               <li ng-if="data.iscompared" class="ng-scope"><a ng-click="changeiscompared(key,data)">Remove Compare</a></li>
               <!-- end ngIf: data.iscompared -->
               <li><a ng-click="removefromwish(data)">Remove Item</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8  breadcrumb_header">
         <div class=" col-lg-8 col-sm-8 col-md-8 col-xs-8  breadcrub-title text-left no-padding">Breadcrumb</div>
         <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 breadcrumb_subinfo text-right no-padding">Breadcrumb sub info</div>
      </div>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8  modal_title margintop10">
         modal title
      </div>
      <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8  modal_title modal_orange margintop10">
         modal title
      </div>
      <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8  modal_title modal_green margintop10">
         modal title
      </div>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10 no-padding">
      <div class="rate_holder col-lg-3 col-sm-3 col-md-3 col-xs-12">
         <div class="rate_currency col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding text-center">$</div>
         <div class="col-lg-5 no-padding marginright5"> <input type="tex" class="collabro-text-box no-margin" name="" placeholder="0.00"></div>
         <div class="rate_price display col-lg-5 no-padding">
            <select class="button-width-100">
               <option value="" disabled selected>Hour</option>
               <option value="1">Day</option>
               <option value="2">Week</option>
               <option value="3">Month</option>
            </select>
         </div>
      </div>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
         <h3 class="text-left margintop10">Images</h3>
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
         <div class="col-lg-2 col-sm-2 col-md-2  col-xs-6 ">
            <img src="http://mswebsg.info/server/public/upload/avatar/user5bfc139739dcc.jpg" class="smallicon roundedimage">
         </div>
         <div class="col-lg-2 col-sm-2 col-md-2  col-xs-12 ">
            <img src="http://mswebsg.info/server/public/upload/avatar/user5bfc139739dcc.jpg" class="normalicon roundedimage">
         </div>
         <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
            <img src="http://mswebsg.info/server/public/upload/avatar/user5bfc139739dcc.jpg" class="largeicon roundedimage">
         </div>
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
         <div class="col-lg-2 col-sm-2 col-md-2 col-xs-6 ">
            <img src="http://mswebsg.info/server/public/upload/avatar/user5bfc139739dcc.jpg" class="">
         </div>
         <div class="col-lg-2 col-sm-3 col-md-2 col-xs-4">
            <img src="http://mswebsg.info/server/public/upload/avatar/user5bfc139739dcc.jpg" class="">
         </div>
         <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
            <img src="http://mswebsg.info/server/public/upload/avatar/user5bfc139739dcc.jpg" class="">
         </div>
      </div>
   </div>
   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margintop10">
   <div class="col-lg-2 col-sm-3 col-md-3 no-padding  col-xs-5 marginbottom10">
      <!-- Card Regular -->
  <div class="card card-cascade mb-4">
         <!-- Card image -->
         <div class="view view-cascade overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
            <a>
               <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
         </div>
         <!-- Card content -->
         <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <div class="card-title margintop5 marginleft5"><strong>Billy Coleman</strong></div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 card-detail no-padding card-price marginleft5 marginright5 margintop5 flex-align">
               <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  no-padding text-left">
                  <div class="card-currency text-right no-padding">$</div>
                  <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 card-price no-padding">
                     <div class="float-left">100</div>
                     <div class="card-type float-left">Per Hour</div>
                  </div>
               </div>

               <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  no-padding text-left promote-icons ">
                  <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 no-padding text-left"><i class="fa fa-heart" ng-class="{'wished': data.wishstatus == 1}"></i> </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 no-padding text-left"><i class="fa fa-heart" ng-class="{'wished': data.wishstatus == 1}"></i> </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 no-padding text-left"><i class="fa fa-heart" ng-class="{'wished': data.wishstatus == 1}"></i> </div>
               </div>
            </div>
            <div class="clear"></div>
         </div>
      </div>
      <!-- Card Regular -->
   </div>
   <div class="col-lg-3 col-sm-4 col-md-4 col-xs-6 marginbottom10">
       <!-- Card Regular -->
        <div class="card card-cascade mb-4">
         <!-- Card image -->
         <div class="view view-cascade overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
            <a>
               <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
         </div>
         <!-- Card content -->
         <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <div class="card-title margintop5 marginleft5"><strong>Billy Coleman</strong></div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 card-detail no-padding card-price marginleft5 marginright5 margintop5 flex-align">
               <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  no-padding text-left">
                  <div class="card-currency text-right no-padding">$</div>
                  <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 card-price no-padding">
                     <div class="float-left">100</div>
                     <div class="card-type float-left">Per Hour</div>
                  </div>
               </div>

               <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6  no-padding text-left promote-icons ">
                  <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 no-padding text-left"><i class="fa fa-heart" ng-class="{'wished': data.wishstatus == 1}"></i> </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 no-padding text-left"><i class="fa fa-heart" ng-class="{'wished': data.wishstatus == 1}"></i> </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 no-padding text-left"><i class="fa fa-heart" ng-class="{'wished': data.wishstatus == 1}"></i> </div>
               </div>
            </div>
            <div class="clear"></div>
         </div>
      </div>
      <!-- Card Regular -->
   </div>

 </div>
   <div class="clear"></div>
</div>