<div class="content-wrapper" ng-controller="NotificationCtrl">
    <div class="leftSidebar" ng-include="'tpl/blocks/desktop/leftmenu.html'"></div>
    <div class="center-content">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="topbar">
                    <div class="topbar-left">
                        <h2><i class="fa fa-bell-o" aria-hidden="true"></i> &nbsp;LIST OF NOTIFICATIONS</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-15 custom-alert">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" infinite-scroll="loadMoreRecords()" infinite-scroll-distance="0" infinite-scroll-disabled="((formLoading || notifications.length > 0) && (totalData == notifications.length))" infinite-scroll-use-document-bottom="true">
                <div ng-repeat="(key,data) in notifications" ng-class="{ 'accordion' : data.messages.length > 1 }">
                    <div ng-if="data.messages.length == 1" class="alert alert-dismissible show" role="alert" ng-class="{'alert-primary': (!data.status && data.notificationclass == 1) , 'alert-success': (!data.status && data.notificationclass == 2), 'alert-orange' : (!data.status && data.notificationclass == 3), 'alert-danger' : (!data.status && data.notificationclass == 4) , 'alert-warning' : (!data.status && data.notificationclass == 5)}">
                        <i class="fa fa-info-circle" ng-class="{'primary': (data.status && data.notificationclass == 1) , 'success': (data.status && data.notificationclass == 2), 'orange' : (data.status && data.notificationclass == 3), 'danger' : (data.status && data.notificationclass == 4) , 'warning' : (data.status && data.notificationclass == 5)}"></i> <span ng-click="readmessage(data.messages[0],data.notificationtype,'single',key,'0')">{{data.messages[0].message}}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="deletenotification(key,data.messages[0],'single', '0')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <accordion close-others="oneAtATime" ng-if="data.messages.length > 1" class="alert alert-dismissible show">
                        <accordion-group is-open="data.isopen">
                            <accordion-heading>
                                <i class="fa fa-check-circle" ng-class="{'primary': (!notification.status && data.notificationclass == 1) , 'success': (!notification.status && data.notificationclass == 2), 'orange' : (!notification.status && data.notificationclass == 3), 'danger' : (!notification.status && data.notificationclass == 4) , 'warning' : (!notification.status && data.notificationclass == 5)}"></i> <span>{{data.messages[0].message}} </span>
                                <span class="pull-right">
                                       <p class="pull-left">({{data.messages.length}})</p>
                                       <i class="pull-right fa fa-caret-down" ng-class="{'fa-caret-up': data.isopen, 'fa-caret-down': !data.isopen}"></i>
                                    </span>
                            </accordion-heading>
                            <div class="alert alert-dismissible show" ng-repeat="(no,notification) in data.messages" ng-class="{'alert-primary': (!data.status && data.notificationclass == 1) , 'alert-success': (!data.status && data.notificationclass == 2), 'alert-orange' : (!data.status && data.notificationclass == 3), 'alert-danger' : (!data.status && data.notificationclass == 4) , 'alert-warning' : (!data.status && data.notificationclass == 5)}">

                                <i class="fa fa-info-circle" ng-class="{'primary': (data.status && data.notificationclass == 1) , 'success': (data.status && data.notificationclass == 2), 'orange' : (data.status && data.notificationclass == 3), 'danger' : (data.status && data.notificationclass == 4) , 'warning' : (data.status && data.notificationclass == 5)}"></i> <span ng-click="readmessage(notification,data.notificationtype,'accordion',key,no)">{{notification.message}}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="deletenotification(key,notification,'accordion',no)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12" ng-if="notifications.length  ==  0">
                <div class="wd-100 text-center white-bg p-15">
                    <h4>No records Found</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="rightSidebar" ng-include="'tpl/blocks/desktop/rightmenu.html'"></div>
</div>
