<div class="content-wrapper" ng-controller="ProjectListCtrl">
    <div class="leftSidebar" ng-include="'tpl/blocks/desktop/leftmenu.html'"></div>
    <div class="center-content">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="topbar">
                    <div class="topbar-left">
                        <i class="fa fa-list-alt"></i>
                        <h2 class="text-capitalize">My Projects</h2>
                    </div>
                    <div class="topbar-right">
                        <ul class="topbar-list">
                            <li>Total Projects &nbsp; <b>{{projects.total}} </b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-lg-12 col-md-12">
                <div class="topbar result">
                    <div class="topbar-left">
                        <span class="lefttext">Showing <b>{{projects.from}}</b> to <b>{{projects.to}}</b> of <b>{{projects.total}}</b> Results.</span>
                    </div>
                    <div class="topbar-right">
                        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by <i class="fa fa-angle-down ml-10"></i></span>
                        <ul class="dropdown-menu">
                            <li><a ng-click="sortproject('created_at','desc')"><i class="fa fa-clock-o"></i> Recent</a></li>
                            <li><a ng-click="sortproject('deadline','asc')"><i class="fa fa-sort-amount-asc"></i> Expiry ASC</a></li>
                            <li><a ng-click="sortproject('deadline','desc')"><i class="fa fa-sort-amount-desc"></i> Expiry DESC</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" dir-paginate="(key,data) in projects.data | itemsPerPage: totalPerPage" total-items="projects.total" current-page="pagination.current" ui-sref="app.projectdetails({id:data.id})" ui-sref-opts="{reload: true,inherit: false,notify: true}">
                <div class="table-card">
                    <div class="flex-top-space">
                        <div class="table-img">
                            <img ng-src="{{data.files[0].filetype == 1 ? IMGURL : ''}}{{data.files[0].thumbnail}}" />
                        </div>
                        <div class="table-content">
                            <div class="table-col">
                                <h5>{{data.title}}</h5>
                                <span>{{data.owner.username}}  |  Last Update: {{convertDate(data.updated_at) | dateToISO | date:'dd MMM yyyy'}}</span>
                            </div>
                            <div class="table-col">
                                <h5>{{data.totalcost | currency}} SGD</h5>
                                <span>Budget / Salary</span>
                            </div>
                            <div class="table-col">
                                <h5>Early {{data.deadline | dateToISO | date:'MMM yyyy'}}</h5>
                                <span class="danger">{{data.remainingdays}} Days Remaining</span>
                            </div>
                        </div>
                        <div class="table-option">
                            <a ui-sref="app.projectdetails({id:data.id})"><img src="../assets/img/message-icon.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-30">
            <div class="col-lg-12 col-md-12 col-sm-12" ng-if="projects.last_page > 0 && !formLoading">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="pagination-ctrl"></dir-pagination-controls>
            </div>
        </div>
    </div>
    <div class="rightSidebar" ng-include="'tpl/blocks/desktop/rightmenu.html'"></div>
</div>
