<div class="content-wrapper" ng-controller="UserMainCtrl">
    <div class="leftSidebar" ng-include="'tpl/blocks/desktop/leftmenu.html'"></div>
    <div class="center-content content">
        <!-- app top -->
        <div class="container-top">
            <div class="container-left">
                <slick ng-if="!formLoading" init-onload="true" data="sliders" settings="coverslickConfig" dots="false" infinite="true">
                    <div class="width100 sliderframer" ng-repeat="(key,image) in sliders">
                        <div class="imgcontainer" background-image="{{IMGURL}}{{image.file}}" ng-if="image.filetype == 1"></div>
                        <span ng-if="image.filetype == 2">
                              <anguvideo ng-model="image.file" width="100%" height="auto" ng-if="image.file&&!image.file.includes('soundcloud')" id="{{image.file.includes('youtu') ? 'youtube' : 'vimeo'}}{{key}}"></anguvideo>
                              <sound-cloud-player url="{{image.file}}" class="m-t-sm" ng-if="image.file&&image.file.includes('soundcloud')" id="soundcloud{{key}}"></sound-cloud-player>
                           </span>
                    </div>
                </slick>
            </div>
            <div class="container-right">
                <div class="accordion-head">WHAT’S HAPPENING TODAY!</div>
                <div class="no-feed" ng-if="feeds.length == 0"><span>Currently No feeds</span>
                </div>
                <div class="notification-scroll" infinite-scroll="loadMoreRecords()" infinite-scroll-distance="0" infinite-scroll-disabled="(formLoading || (totalData == feeds.length))">
                    <div class="accordion-container">
                        <accordion close-others="true">
                            <accordion-group is-open="feed.feedopen" ng-repeat="(num,feed) in feeds" class="notifer" ng-class="{'bgwhite':feed.feedopen}" ng-click="openfeed(num,feed.feedopen)" id="accorditem{{num}}">
                                <accordion-heading>
                                    <div class="accordion-label">
                                        <img ng-src="{{IMGURL}}{{feed.owner.avatar}}" />
                                        <div class="label-content">
                                            <p>{{feed.title}}</p>
                                            <p ng-if="feed.feedopen"><i class="fa fa-calendar"></i> {{convertDate(feed.created_at) | dateToISO | date:'dd.MM.yyyy'}}</p>
                                        </div>
                                        <div class="accordion-toggle">
                                            <span class="check">
                                        <i class="fa fa-check-circle default"></i>
                                    </span>
                                            <i class="fa fa-caret-down" ng-class="feed.feedopen ? 'fa-caret-up' : 'fa-caret-down'"></i>
                                        </div>
                                    </div>
                                </accordion-heading>
                                <div class="accordion-body">
                                    <div class="accordion-body-top">
                                        {{feed.description | cut:true:250:''}}
                                    </div>
                                    <div class="accordion-body-bottom">
                                        <div class="icons-left">
                                            <a class="btn-add-wishlist" title="Add to Wishlist" ng-click="updatefeedwish(feed,num)"><i class="fa fa-heart" ng-class="{'primary': feed.wishstatus == 1}"></i></a>
                                            <a class="btn-add-comparre" title="Share to Earn" ng-click="sharefeedtosocial(feed)" tabindex="0"><i class="fa fa-share"></i></a>
                                        </div>
                                        <div class="button-right">
                                            <button type="button" ng-click="gotofeedchat(feed.id)" class="btn default-btn"><i class="fa fa-phone-square mr-5"></i> Chat</button>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
        <!-- app container -->
        <div class="content-container">
            
            <div class="row mt-15">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="search-tab">
                        <li ng-click="setactivetab('all')"><a ng-class="{'active':activetab=='all'}">All</a></li>
                        <li ng-click="setactivetab('service')"><a ng-class="{'active':activetab=='service'}">Services</a></li>
                        <li ng-click="setactivetab('shop')"><a ng-class="{'active':activetab=='shop'}">Products</a></li>
                        <li ng-click="setactivetab('rental')"><a ng-class="{'active':activetab=='rental'}">Rentals</a></li>
                        <li ng-click="setactivetab('event')"><a ng-class="{'active':activetab=='event'}">Events</a></li>
                    </ul>
                </div>
            </div>

            <div class="row mt-15">
                <div class="col-lg-12 col-md-12 text-center">
                    <h1>The Platform for Entrepreneur to Collaborate and Do Business</h1>
                </div>
            </div>
            
            <div ng-if="activetab == 'all'">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="topbar result mt-15 mb-15">
                            <div class="topbar-left">
                                <span class="lefttext">SERVICES</span>
                            </div>
                            <div class="topbar-right">
                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">| Sort by <i class="fa fa-angle-down ml-10"></i></span>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="sortproduct('service','noofviews','desc')"><i class="fa fa-star"></i> Popular</a></li>
                                    <li><a ng-click="sortproduct('service','created_at','desc')"><i class="fa fa-clock-o"></i> Recent</a></li>
                                    <li><a ng-click="sortproduct('service','price','asc')"><i class="fa fa-sort-amount-asc"></i> Price L-H</a></li>
                                    <li><a ng-click="sortproduct('service','price','desc')"><i class="fa fa-sort-amount-desc"></i> Price H-L</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <slick ng-if="!formLoading" init-onload="true" data="products.service" settings="slickConfig" slides-to-scroll="1" dots="false" infinite="false">
                                <div ng-class="slidecount < 4 ? 'col-lg-4 col-md-4 col-sm-4' : 'col-lg-3 col-md-3 col-sm-3' " class=" col-xs-12" ng-repeat="(key,data) in products.service">
                                    <div class="card" ng-click="showItem(data)">
                                        <div class="card-img" ui-sref="app.viewitem({id:data.id})"background-image="{{data.images[0].filetype == 1 ? IMGURL : ''}}{{data.images[0].thumbnail}}">
                                        </div>
                                        <div class="card-content">
                                            <h4 class="word-line" ui-sref="app.viewitem({id:data.id})">{{data.title | cut:true:18:''}}</h4>
                                            <div class="card-info">
                                                <span class="price">{{data.price ? '$' + data.price: 'Free'}}</span>
                                                <span class="price-sub" ng-if="data.price > 0 && data.periodtype">Per {{data.periodtype}}</span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a title="Add to Wishlist" ng-click="updatewishstatus(data,'event',key)" ng-if="data.owner.id!=user.id"><i class="fa fa-heart" ng-class="{'primary': data.wishstatus == 1}"></i></a>
                                            <a title="Add to Cart" ng-if="data.owner.id!=user.id" ng-click="addTocart(data.id)"><i class="fa fa-plus"></i></a>
                                            <a title="Share to Earn" ng-click="sharetosocial(data)"><i class="fa fa-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="topbar result mt-5 mb-15">
                            <div class="topbar-left">
                                <span class="lefttext">PRODUCTS</span>
                            </div>
                            <div class="topbar-right">
                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">| Sort by <i class="fa fa-angle-down ml-10"></i></span>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="sortproduct('shop','noofviews','desc')"><i class="fa fa-star"></i> Popular</a></li>
                                    <li><a ng-click="sortproduct('shop','created_at','desc')"><i class="fa fa-clock-o"></i> Recent</a></li>
                                    <li><a ng-click="sortproduct('shop','price','asc')"><i class="fa fa-sort-amount-asc"></i> Price L-H</a></li>
                                    <li><a ng-click="sortproduct('shop','price','desc')"><i class="fa fa-sort-amount-desc"></i> Price H-L</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <slick ng-if="!formLoading" init-onload="true" data="products.shop" settings="slickConfig" slides-to-scroll="1" dots="false" infinite="false">
                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4" ng-repeat="(key,data) in products.shop">
                                    <div class="card" ng-click="showItem(data)">
                                        <div class="card-img" ui-sref="app.viewitem({id:data.id})"background-image="{{data.images[0].filetype == 1 ? IMGURL : ''}}{{data.images[0].thumbnail}}">
                                        </div>
                                        <div class="card-content">
                                            <h4 class="word-line" ui-sref="app.viewitem({id:data.id})">{{data.title | cut:true:18:''}}</h4>
                                            <div class="card-info">
                                                <span class="price">{{data.price ? '$' + data.price: 'Free'}}</span>
                                                <span class="price-sub"><!-- Per {{data.periodtype}} --></span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a title="Add to Wishlist" ng-click="updatewishstatus(data,'event',key)" ng-if="data.owner.id!=user.id"><i class="fa fa-heart" ng-class="{'primary': data.wishstatus == 1}"></i></a>
                                            <a title="Add to Cart" ng-if="data.owner.id!=user.id" ng-click="addTocart(data.id)"><i class="fa fa-plus"></i></a>
                                            <a title="Share to Earn" ng-click="sharetosocial(data)"><i class="fa fa-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="topbar result mt-5 mb-15">
                            <div class="topbar-left">
                                <span class="lefttext">RENTAL</span>
                            </div>
                            <div class="topbar-right">
                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">| Sort by <i class="fa fa-angle-down ml-10"></i></span>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="sortproduct('rental','noofviews','desc')"><i class="fa fa-star"></i> Popular</a></li>
                                    <li><a ng-click="sortproduct('rental','created_at','desc')"><i class="fa fa-clock-o"></i> Recent</a></li>
                                    <li><a ng-click="sortproduct('rental','price','asc')"><i class="fa fa-sort-amount-asc"></i> Price L-H</a></li>
                                    <li><a ng-click="sortproduct('rental','price','desc')"><i class="fa fa-sort-amount-desc"></i> Price H-L</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <slick ng-if="!formLoading" init-onload="true" data="products.rental" settings="slickConfig" slides-to-scroll="1" dots="false" infinite="false">
                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4" ng-repeat="(key,data) in products.rental">
                                    <div class="card" ng-click="showItem(data)">
                                        <div class="card-img" ui-sref="app.viewitem({id:data.id})"background-image="{{data.images[0].filetype == 1 ? IMGURL : ''}}{{data.images[0].thumbnail}}">
                                        </div>
                                        <div class="card-content">
                                            <h4 class="word-line" ui-sref="app.viewitem({id:data.id})">{{data.title | cut:true:18:''}}</h4>
                                            <div class="card-info">
                                                <span class="price">{{data.price ? '$' + data.price: 'Free'}}</span>
                                                <span class="price-sub" ng-if="data.price > 0  && data.periodtype">Per {{data.periodtype}}</span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a title="Add to Wishlist" ng-click="updatewishstatus(data,'event',key)" ng-if="data.owner.id!=user.id"><i class="fa fa-heart" ng-class="{'primary': data.wishstatus == 1}"></i></a>
                                            <a title="Add to Cart" ng-if="data.owner.id!=user.id" ng-click="addTocart(data.id)"><i class="fa fa-plus"></i></a>
                                            <a title="Share to Earn" ng-click="sharetosocial(data)"><i class="fa fa-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="topbar result mt-5 mb-15">
                            <div class="topbar-left">
                                <span class="lefttext">EVENT</span>
                            </div>
                            <div class="topbar-right">
                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">| Sort by <i class="fa fa-angle-down ml-10"></i></span>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="sortproduct('event','noofviews','desc')"><i class="fa fa-star"></i> Popular</a></li>
                                    <li><a ng-click="sortproduct('event','created_at','desc')"><i class="fa fa-clock-o"></i> Recent</a></li>
                                    <li><a ng-click="sortproduct('event','price','asc')"><i class="fa fa-sort-amount-asc"></i> Price L-H</a></li>
                                    <li><a ng-click="sortproduct('event','price','desc')"><i class="fa fa-sort-amount-desc"></i> Price H-L</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <slick ng-if="!formLoading" init-onload="true" data="products.event" settings="slickConfig" slides-to-scroll="1" dots="false" infinite="false">
                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4" ng-repeat="(key,data) in products.event">
                                    <div class="card" ng-click="showItem(data)">
                                        <div class="card-img" ui-sref="app.viewitem({id:data.id})"background-image="{{data.images[0].filetype == 1 ? IMGURL : ''}}{{data.images[0].thumbnail}}">
                                        </div>
                                        <div class="card-content">
                                            <h4 class="word-line" ui-sref="app.viewitem({id:data.id})">{{data.title | cut:true:18:''}}</h4>
                                            <div class="card-info">
                                                <span class="price">{{data.price ? '$' + data.price: 'Free'}}</span>
                                                <span class="price-sub" ng-if="data.price > 0 && data.periodtype">Per {{data.periodtype}}</span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a ng-click="updatewishstatus(data,'event',key)" ng-if="data.owner.id!=user.id"><i class="fa fa-heart" ng-class="{'primary': data.wishstatus == 1}"></i></a>
                                            <a title="Add to Cart" ng-if="data.owner.id!=user.id" ng-click="addTocart(data.id)"><i class="fa fa-plus"></i></a>
                                            <a title="Share to Earn" ng-click="sharetosocial(data)"><i class="fa fa-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="activetab != 'all'">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="topbar result mt-5 mb-15">
                            <div class="topbar-left">
                                <span class="lefttext text-uppercase">{{activetab == 'shop' ? 'products':activetab + 's'}}</span>
                            </div>
                            <div class="topbar-right">
                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">| Sort by <i class="fa fa-angle-down ml-10"></i></span>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="sortproduct(activetab,'noofviews','desc')"><i class="fa fa-star"></i> Popular</a></li>
                                    <li><a ng-click="sortproduct(activetab,'created_at','desc')"><i class="fa fa-clock-o"></i> Recent</a></li>
                                    <li><a ng-click="sortproduct(activetab,'price','asc')"><i class="fa fa-sort-amount-asc"></i> Price L-H</a></li>
                                    <li><a ng-click="sortproduct(activetab,'price','desc')"><i class="fa fa-sort-amount-desc"></i> Price H-L</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div ng-class="slidecount < 4 ? 'col-lg-4 col-md-4 col-sm-4' : 'col-lg-3 col-md-3 col-sm-3'" class="col-xs-12" dir-paginate="(key,data) in typeproductdata.data | itemsPerPage: typestotalPerPage" total-items="typeproductdata.total" current-page="pagination.current">
                                <div class="card" ng-click="showItem(data)">
                                    <div class="card-img" ui-sref="app.viewitem({id:data.id})"background-image="{{data.images[0].filetype == 1 ? IMGURL : ''}}{{data.images[0].thumbnail}}">
                                    </div>
                                    <div class="card-content">
                                        <h4 class="word-line" ui-sref="app.viewitem({id:data.id})">{{data.title | cut:true:18:''}}</h4>
                                        <div class="card-info">
                                            <span class="price">{{data.price ? '$' + data.price: 'Free'}}</span>
                                            <span class="price-sub" ng-if="data.price > 0 && data.type!='Shop' && data.periodtype">Per {{data.periodtype}}</span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a title="Add to Wishlist" ng-click="updatewishstatus(data,'event',key)" ng-if="data.owner.id!=user.id"><i class="fa fa-heart" ng-class="{'primary': data.wishstatus == 1}"></i></a>
                                        <a title="Add to Cart" ng-if="data.owner.id!=user.id" ng-click="addTocart(data.id)"><i class="fa fa-plus"></i></a>
                                        <a title="Share to Earn" ng-click="sharetosocial(data)"><i class="fa fa-share"></i></a>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-12 col-md-12 text-center" ng-if="typeproductdata.total > 0 && !formLoading">
                                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="pagination-ctrl"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightSidebar" ng-include="'tpl/blocks/desktop/rightmenu.html'"></div>
</div>
