<div ng-controller="PrivateChatsCtrl" class="content-wrapper">
    <div class="leftSidebar" ng-include="'tpl/blocks/desktop/leftmenu.html'"></div>
    <div class="center-content">
        <div class="row ">
            <div class="col-lg-12 col-md-12">
                <div class="topbar">
                    <div class="topbar-left">
                        <div class="avatar avatar-xs">
                            <img ng-src="{{IMGURL}}{{chatInfo.firstuserinfo.avatar}}" ui-sref="app.viewuser({'id':chatInfo.firstuserinfo.id})" ng-if="chatInfo.seconduser == user.id">
                            <img class="rank-icon" ng-src="{{IMGURL}}{{chatInfo.seconduserinfo.avatar}}" ui-sref="app.viewuser({'id':chatInfo.seconduserinfo.id})" ng-if="chatInfo.firstuser == user.id">
                        </div>
                        <ul class="topbar-list" ng-if="chatInfo.firstuser == user.id">
                            <li>{{chatInfo.seconduserinfo.username}}</li>
                            <li><img class="rank-icon" ng-src="{{IMGURL}}{{chatInfo.seconduserinfo.xprank.icon}}"> Apperentice </li>
                        </ul>
                        <ul class="topbar-list" ng-if="chatInfo.seconduser == user.id">
                            <li>{{chatInfo.firstuserinfo.username}}</li>
                            <li><img class="rank-icon" ng-src="{{IMGURL}}{{chatInfo.firstuserinfo.xprank.icon}}"> {{chatInfo.firstuserinfo.xprank.rankname}} </li>
                        </ul>
                    </div>
                    <div class="topbar-right">
                        <ul class="topbar-list" ng-if="chatInfo.seconduser == user.id">
                            <li><i class="fa fa-binoculars"></i> Followers | {{chatInfo.firstuserinfo.followers}} </li>
                            <li><i class="fa fa-user"></i> Following | {{chatInfo.firstuserinfo.following}} </li>
                            <li><i class="fa fa-eye"></i> Deal made | {{chatInfo.firstuserinfo.noofdeals}} </li>
                        </ul>
                        <ul class="topbar-list" ng-if="chatInfo.firstuser == user.id">
                            <li><i class="fa fa-binoculars"></i> Followers | {{chatInfo.seconduserinfo.followers}} </li>
                            <li><i class="fa fa-user"></i> Following | {{chatInfo.seconduserinfo.following}} </li>
                            <li><i class="fa fa-eye"></i> Deal made | {{chatInfo.seconduserinfo.noofdeals}} </li>
                        </ul>
                    </div>
                    <div class="topbar-right">
                        <ul class="topbar-list">
                            <li ng-if="chatInfo.seconduser == user.id"><i class="fa fa-circle success"></i> <span>{{chatInfo.firstuserinfo.onlinestatus == 1 ? 'Online':'Offline'}}</span></li>
                            <li ng-if="chatInfo.firstuser == user.id"><i class="fa fa-circle success"></i> <span>{{chatInfo.seconduserinfo.onlinestatus == 1 ? 'Online':'Offline'}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="topbar">
                    <div class="topbar-left">
                        <div class="avatar avatar-xs">
                            <img ng-src="{{IMGURL}}{{chatInfo.firstuserinfo.avatar}}" popover="{{chatInfo.firstuserinfo.username}}" ui-sref="app.viewuser({'id':chatInfo.firstuserinfo.id})" popover-trigger="mouseenter" ng-if="chatInfo.seconduser == user.id">
                            <img class="rank-icon" ng-src="{{IMGURL}}{{chatInfo.seconduserinfo.avatar}}" ui-sref="app.viewuser({'id':chatInfo.seconduserinfo.id})" popover="{{chatInfo.seconduserinfo.username}}" popover-trigger="mouseenter" ng-if="chatInfo.firstuser == user.id">
                        </div>
                        <ul class="topbar-list" ng-if="chatInfo.firstuser == user.id">
                            <li>{{chatInfo.seconduserinfo.username}}</li>
                            <li><img class="rank-icon" ng-src="{{IMGURL}}{{chatInfo.seconduserinfo.xprank.icon}}"> Apperentice </li>
                        </ul>
                        <ul class="topbar-list" ng-if="chatInfo.seconduser == user.id">
                            <li>{{chatInfo.firstuserinfo.username}}</li>
                            <li><img class="rank-icon" ng-src="{{IMGURL}}{{chatInfo.firstuserinfo.xprank.icon}}"> Apperentice </li>
                        </ul>
                    </div>
                    <div class="topbar-right">
                        <ul class="topbar-list">
                            <li ng-if="chatInfo.seconduser == user.id"><i class="fa fa-circle success"></i> <span>{{chatInfo.firstuserinfo.onlinestatus == 1 ? 'Online':'Offline'}}</span></li>
                            <li ng-if="chatInfo.firstuser == user.id"><i class="fa fa-circle success"></i> <span>{{chatInfo.seconduserinfo.onlinestatus == 1 ? 'Online':'Offline'}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row  mt-15">
            <div class="col-lg-12 col-md-12">
                <div class="chat-wrap">
                    <div class="message-head">
                        <h2 ng-if="chatInfo.firstuser == user.id">{{chatInfo.seconduserinfo.username}}</h2>
                        <h2 ng-if="chatInfo.seconduser == user.id">{{chatInfo.firstuserinfo.username}}</h2>
                        <div class="option">
                            <img ng-if="chatInfo.firstuser == user.id" ng-src="{{IMGURL}}{{chatInfo.seconduserinfo.avatar}}"/>
                            <img ng-if="chatInfo.seconduser == user.id" ng-src="{{IMGURL}}{{chatInfo.firstuserinfo.avatar}}"/>
                        </div>
                    </div>

                    <div class="messenger" scroll-to-bottom="chatData">

                        <div class="message-wrap" ng-repeat="message in chatData">
                            <div class="message" ng-class="{ 'me' : user.id == message.user_id , 'option-content' : message.isfile }">
                                <div class="info">{{message.message}}
                                    <img ng-src="{{IMGURL}}{{message.fileurl}}" ng-click="viewChatImg(message.fileurl);" alt="Chat" ng-if="message.isfile">
                                    <div class="time-left">
                                        <span am-time-ago="message.created_at" ng-if="checkDate(message.created_at) == true"></span>
                                        <time ng-if="checkDate(message.created_at) == false">{{ message.created_at | amDateFormat: 'DD-MMM-YY hh:mm a' }}</time></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sender">
                        <div class="msg-text">
                            <a class="small-btn"><i class="fa fa-smile-o"></i></a>
                            <input type="text" placeholder="Send something..." ng-model="chatMessage.message" my-enter="sendPrivateReplymessage()" id="emojionearea">
                            <a class="small-btn" ngf-select ngf-drop ngf-multiple="false" ngf-accept="'image/*'" ngf-capture="capture" ngf-allow-dir="allowDir" class="drop-box1" ngf-drop-available="dropAvailable" ngf-change="senduserchatattachment($files);"><i class="fa fa-paperclip"></i></a>
                        </div>
                        <div class="chat-btn" ng-click="sendPrivateReplymessage()"><i class="fa fa-send"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightSidebar" ng-include="'tpl/blocks/desktop/rightmenu.html'"></div>
</div>
<style type="text/css">
    .emojionearea-editor {
  min-height: 3em !important;
}
</style>
