<div ng-controller="ViewTodoCtrl" class="productchat">
    <div class="popover" ng-if="shareData.title" data-ng-include="'tpl/blocks/desktop/sharepopover.html'"></div>
    <div class="wthree-dot" ng-if="!formLoading">
        <div class="container" id="viewitemtop">
            <div class="row">
                <!-- Left Menu Here  -->
                <div class="col-md-2 col-sm-2 col-lg-2 nopadding leftSidebar" data-ng-include="'tpl/blocks/desktop/leftmenu.html'"></div>
                <div class="col-md-10 col-sm-10 col-lg-10 nopadding">
                    <div class="col-md-12 col-sm-12 col-lg-12 nopadding paddingtopbottom">
                        <div class="col-md-12 col-sm-12 col-lg-12 mypadding">
                            <div class="wishlistheader ">
                                <div class="col-sm-12 col-md-12 col-lg-12 flex-align">
                                    <span class="wishlisttitle float-lt">Active Todos &nbsp;&nbsp;|&nbsp;&nbsp; {{user.activetodo}} Todos</span>
                                    <div class="float-rt right">
                                        <div class=" closeb" ng-click="goback();"><img src="img/closebutton.png"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-8 col-lg-8 mypadding">
                            <div class="top-banner-left">
                                <slick data="todoData.images" infinite="false" init-onload="true" settings="productslick" ng-if="!formLoading" class="slider-for">
                                    <div class="width100" ng-repeat="(key,image) in todoData.images">
                                        <div class="imgcontainer" background-image="{{IMGURL}}{{image.file}}" ng-if="image.filetype == 1"></div>
                                        <span ng-if="image.filetype == 2">
                           <anguvideo ng-model="image.file" width="100%" height="auto" ng-if="image.file&&!image.file.includes('soundcloud')"></anguvideo>
                           <sound-cloud-player url="{{image.file}}" class="m-t-sm" ng-if="image.file&&image.file.includes('soundcloud')"></sound-cloud-player>
                        </span>
                                    </div>
                                </slick>
                                <div class="thumbslider">
                                    <slick data="todoData.images" infinite="false" settings="productthumbslick" infinite="false" init-onload="true" class="slider-nav">
                                        <div class="thumbholder" ng-repeat="(key,image) in todoData.images">
                                            <div class="slidee" background-image="{{image.filetype == 1 ? IMGURL : ''}}{{image.thumbnail}}"></div>
                                        </div>
                                    </slick>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 mynewpadding-noleft">
                            <div class="top-banner-right backgroundwhite">
                                <div class="col-md-12 col-sm-12 col-lg-12 mypadding mytoppadding backgroundwhite">
                                    <div class="userholder col-md-8 col-sm-8 col-lg-8 cursor nopadding">
                                        <img ng-src="{{IMGURL}}{{todoData.owner.avatar}}" class="userimage" ui-sref="app.viewuser({'id':todoData.owner.id})">
                                        <span>
                           {{todoData.owner.username | cut:true:10:''}} 
                        </div>
                        <div class=" col-md-4 col-sm-4 col-lg-4 infostatus nopadding">
                           <div class="float-rt "><i class="fa fa-circle" ng-class="todoData.owner.onlinestatus == 1 ? 'statusactive':'statusinactive'"></i> {{todoData.owner.onlinestatus == 1 ? 'Online':'Offline'}}
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12 col-sm-12 col-lg-12 backgroundwhite paddingleftright projectdetail">
                        <div class="titles margin-top">{{todoData.title}} ({{todoData.type}}) </div>
                        <div class="tracks margin-bottom" ng-if="todoData.type == 'Service'">{{todoData.profession}}: <span ng-if="todoData.type == 'Service'"> {{todoData.owner.username}}</span></div>
                                    <div class="tracks margin-bottom" ng-if="todoData.type != 'Service'">&nbsp;</div>
                                    <div class="description nopadding margin-bottom">{{todoData.description | cut:true:385:''}}</div>
                                    <div class="col-md-12 col-sm-12 col-lg-12 nopadding margin-top abilitylisting">
                                    </div>
                                    
                                    <div class="border-bottom margin-top col-md-12 col-sm-12 col-lg-12"></div>
                                    <div class="clear"></div>
                                    <div class="col-md-12 col-sm-12 col-lg-12 nopadding flexmiddle">                                        
                                        <div class="product-button  product-newbutton col-md-12 col-sm-12 col-lg-12 text-right nopadding mt-10 todo-bottom-btn">
                                            <div class="text-danger">{{todoData.deadline | date:'dd-MMM-yyyy'}}</div>
                                            <div class="product-button col-md-12 col-sm-12 col-lg-4 text-right nopadding" ng-if="todoData.type == 'Project'">
                                                <p class="viewbutton cursor" ui-sref="app.projectdetails({id:todoData.projectid})"> Go to Project</p>
                                            </div> 
                                            <div class="right-btn">
                                                <a class="btn-add-comparre nomargin" title="Edit Todo" ng-if="todoData.userid == user.id" ng-click="editTodo(todoData)"><i class="fa fa-edit"></i></a>
                                                <a class="btn-add-comparre nomargin" title="Remove Todo" ng-if="todoData.userid == user.id" ng-click="deletetodo(todoData)"><i class="fa fa-trash-o"></i></a>
                                                <a class="btn-add-comparre nomargin" title="Share to Earn" ng-click="sharetodo(todoData)"><i class="fa fa-share"></i></a>
                                            </div>                                             
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2 nopadding rightSidebar" data-ng-include="'tpl/blocks/desktop/rightmenu.html'"></div>
            </div>
        </div>
    </div>
</div>