<!-- Mobile home3 start -->
<div class="HomeCtrl" ng-controller="HomeCtrl" id="hometop">
    <div class="col-md-12 text-right topclass">
        <img src="img/mobilelognew.png">
    </div>
    <div class="w3ls-subscribe">
        <h4>SIGN IN</h4>
        <form name="loginForm" novalidate ng-submit="login(loginForm)">
            <span class="details">Email Address 
               <span ng-if="loginerrors.message" class="text-danger">{{loginerrors.message[0]}}</span>
            <span ng-messages="loginForm.email.$error" role="alert">
                  <span class="text-danger" ng-message="required">Email Required</span>
            <span class="text-danger" ng-message="email">Not valid email.</span>
            </span>
            <input type="email" name="email" placeholder="Email" ng-model="userData.email" required>
            </span>
            <span class="details">Password 
               <span ng-messages="loginForm.password.$error" role="alert">
                  <span class="text-danger" ng-message="required">Password Required</span>
            <span class="text-danger" ng-message="minlength">Atleast 8 characters long.</span>
            </span>
            </span>
            <input type="password" name="password" placeholder="Password" required ng-model="userData.password" minlength="8">
            <button id="sign-in" class="btn margintop sign-in" type="submit" button-spinner="loginloading" spinning-icon="fa fa-circle-o-notch fa-spin" ng-disabled="loading">SIGN IN</button>
        </form>
        <button id="create" class="btn sign-in" type="submit" ng-disabled="loading" ui-sref="app.signup">CREATE ACCOUNT</button>
        <p id="account">Create an account if you do not have an account yet</p>
    </div>
    <div class="col-md-12 footercont text-center"> By joining, you agree to Collabro’s <span class="terms" ng-click="showAModal()">Terms of Service</span></div>
</div>
<!-- Mobile home3 End -->