<div ng-controller="TodoListCtrl" >
   <div class="col-xs-12 serviceheader" >
      <div class="col-xs-1 servicelefticon" ng-click="goback()"><i class="fa fa-angle-left"></i></div>
      <div class="col-xs-5 servicename"><i class="fa fa-tasks" aria-hidden="true"></i> &nbsp;TODO's</div>
      <div class="col-xs-6 servicename">
         <div class="cate-name margin0" ng-if="!formLoading">
            <div class="float-rt flex-center">
               <a data-toggle="dropdown" role="button" class=" noti_btn_b float-rt">Sort By</a>
               <ul class="dropdown-menu">
                  <li><a ng-click="filterTodo('')">All Todo's</a></li>
                  <li><a ng-click="filterTodo('Personal')">Personal Todo's</a></li>
                  <li><a ng-click="filterTodo('Project')">Project Todo's</a></li>
               </ul>
               <a ng-click="opentodoModal();" class="chatnowbutton marginleft10">TODO <i class="fa fa-plus-circle"></i></a> 
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12 newpadding ">
      <div class="">
         <div class="col-xs-12  nopadding  boot_list text-center" ng-if="todos.total == 0">
            <span class="user-subhead font-size18">Currently no todo's</span>
         </div>
         <div class="col-xs-12  border-with-shade  boot_list" dir-paginate="(key,data) in todos.data | itemsPerPage: totalPerPage" total-items="todos.total" current-page="pagination.current">
            <div class="col-xs-7 nopadding">
               <div class="col-xs-4 nopadding cursor">
                  <img class="boot_img" ng-src="{{data.images[0].filetype == 1 ? IMGURL : ''}}{{data.images[0].thumbnail}}">
               </div>
               <div class="col-xs-8 newpadding">
                  <a class="boot_user_link" ui-sref="app.viewtodo({'id':data.id})">{{data.title}}</a>
                  <span class="user-subhead">{{data.type}}</span>
                  <div>
                     <span class="user-red">{{data.remainingdays}} Days Remaining</span>
                  </div>
               </div>
            </div>
            <div class="col-xs-3 nopadding">
               <span class="user-subhead">  {{convertDate(data.created_at) | dateToISO | date:'dd MMM yyyy'}}</span>
            </div>
            <div class="col-xs-2 nopadding text-right">
               <div class="product-button-new ">
                  <button class="actions action-btn" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                  <ul class="dropdown-menu actionmenu">
                     <li ng-click="editTodo(data)"><a class="com_section cursor">
                        <i class="fa fa-edit"></i> Edit
                     </a></li>
                     <li ng-click="deletetodo(key,data)">
                     <a class="com_section cursor">
                        <i class="fa fa-trash-o"></i> Delete
                     </a></li>
                    <li ng-click="sharetodo(data)"><a class="com_section cursor">
                        <i class="fa fa-share"></i> Share
                     </a></li>
                  </ul>
               </div>
            </div>
         </div>
         <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="pull-right pagination-ctrl"></dir-pagination-controls>
      </div>
   </div>
</div>